/*
    █▀▀█ ▀█▀ ▀█▀ ░█▄─░█ ░█▀▀█ ░█▀▀▀█ 
    █▀▀▄ ░█─ ░█─ ░█░█░█ ░█─▄▄ ─▀▀▀▄▄ 
    █▄▄█ ▄█▄ ▄█▄ ░█──▀█ ░█▄▄█ ░█▄▄▄█ 
*/

@import 'fontfaces.css';
@import 'bulma/bulma.css';


::selection
{
    background: #E1DBF5;
}
::-moz-selection
{
    background: #E1DBF5;
}


/* —— Helpers —— */

.is-link
{
    transition: color .05s linear;
}
.is-link:hover
{
    color: var(--color-brand1);
}

.is-motionless
{
    transition: none;
}

.has-background-gradient-1
{
    background-image: linear-gradient(25deg, #715eb8 -25%, #cc5bb5 140%);
}
.has-background-gradient-2
{
    background: linear-gradient(25deg, #78c0e0 25%, #5dd9c1 110%);
}
.has-background-gradient-3
{
    background: linear-gradient(25deg, #ef626c -30%, #ffc15e 130%);
}

@media print
{
    .is-hidden-print
    {
        display: none !important;
    }
}

/* — Modifiers — */
.is-monospace
{
    font-family: 'Roboto Mono', monospace;
}
.is-serif
{
    font-weight: 900;
    font-family: 'Merriweather', serif;
}

/* Avatar */
.avatar
{
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}
.avatar > div
{
    display: table-cell;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
}
.avatar > img
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.avatar.is-small,
.avatar.is-small > div
{
    width: 2rem;
    height: 2rem;
    font-weight: 700;
    font-size: .875rem;
}
.avatar.is-medium,
.avatar.is-medium > div
{
    width: 4rem;
    height: 4rem;
    font-weight: 400;
    font-size: 1.5rem;
}
.avatar.is-large,
.avatar.is-large > div
{
    width: 5rem;
    height: 5rem;
    font-weight: 400;
    font-size: 1.9rem;
}
.avatar.is-huge,
.avatar.is-huge > div
{
    width: 9rem;
    height: 9rem;
    font-weight: 400;
    font-size: 3.5rem;
}
.avatar + span
{
    margin-left: 1rem;
}
.avatar.is-small + span
{
    margin-left: .75rem;
}
.avatar.is-large + span
{
    margin-left: 1.4rem;
}
.avatar.is-huge + span
{
    margin-left: 1.9rem;
}
/* Status badge */
.avatar.is-status-purple:after,
.avatar.is-status-cyan:after,
.avatar.is-status-blue:after,
.avatar.is-status-pink:after,
.avatar.is-status-red:after,
.avatar.is-status-orange:after,
.avatar.is-status-yellow:after,
.avatar.is-status-turquoise:after,
.avatar.is-status-green:after,
.avatar.is-status-grey:after,
.avatar.is-status-black:after,
.avatar.is-status-white:after
{
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: .875rem;
    height: .875rem;
    border: 2px solid white;
    border-radius: 50%;
    content: '';
}
.avatar.is-small:after
{
    width: .75rem;
    height: .75rem;
    border-width: 2px;
}
.avatar.is-medium:after
{
    right: -1px;
    bottom: -1px;
    width: 1.0625rem;
    height: 1.0625rem;
    border-width: 2px;
}
.avatar.is-large:after
{
    width: 1.5rem;
    height: 1.5rem;
    border-width: 3px;
}
.avatar.is-huge:after
{
    right: -3px;
    bottom: -3px;
    width: 2rem;
    height: 2rem;
    border-width: 3px;
}

.avatar.is-status-purple:after
{
    background-color: var(--color-purple);
}
.avatar.is-status-cyan:after
{
    background-color: var(--color-cyan);
}
.avatar.is-status-blue:after
{
    background-color: var(--color-blue);
}
.avatar.is-status-pink:after
{
    background-color: var(--color-pink);
}
.avatar.is-status-red:after
{
    background-color: var(--color-red);
}
.avatar.is-status-orange:after
{
    background-color: var(--color-orange);
}
.avatar.is-status-yellow:after
{
    background-color: var(--color-yellow);
}
.avatar.is-status-turquoise:after
{
    background-color: var(--color-turquoise);
}
.avatar.is-status-green:after
{
    background-color: var(--color-green);
}
.avatar.is-status-grey:after
{
    background-color: var(--color-grey);
}
.avatar.is-status-black:after
{
    background-color: var(--color-black);
}
.avatar.is-status-white:after
{
    background-color: var(--color-white);
    box-shadow: inset 0 0 0 1px var(--color-grey-light);
}
.is-well > .avatar.is-status-purple:after,
.has-background-light > .avatar.is-status-purple:after,
.is-well > .avatar.is-status-cyan:after,
.has-background-light > .avatar.is-status-cyan:after,
.is-well > .avatar.is-status-blue:after,
.has-background-light > .avatar.is-status-blue:after,
.is-well > .avatar.is-status-pink:after,
.has-background-light > .avatar.is-status-pink:after,
.is-well > .avatar.is-status-red:after,
.has-background-light > .avatar.is-status-red:after,
.is-well > .avatar.is-status-orange:after,
.has-background-light > .avatar.is-status-orange:after,
.is-well > .avatar.is-status-yellow:after,
.has-background-light > .avatar.is-status-yellow:after,
.is-well > .avatar.is-status-turquoise:after,
.has-background-light > .avatar.is-status-turquoise:after,
.is-well > .avatar.is-status-green:after,
.has-background-light > .avatar.is-status-green:after,
.is-well > .avatar.is-status-grey:after,
.has-background-light > .avatar.is-status-grey:after,
.is-well > .avatar.is-status-black:after,
.has-background-light > .avatar.is-status-black:after,
.is-well > .avatar.is-status-white:after,
.has-background-light > .avatar.is-status-white:after
{
    border-color: var(--color-light);
}

/* Skeletons */
.has-skeleton:empty
{
    min-height: 1.5em;
    background-color: rgba(139, 133, 160, .1);
    background-image: linear-gradient(105deg, rgba(211, 209, 219, 0) 0px, rgba(211, 209, 219, .55) 20%, rgba(211, 209, 219, 0) 40%);
    background-size: 200%;
    content: '';
    animation: skeleton-shine 1.8s infinite linear;
}
.has-skeleton:empty:first-child
{
    background-color: rgba(139, 133, 160, .2);
}
.has-skeleton:empty:nth-child(odd):not(:first-child)
{
    width: 50%;
}
.avatar > .has-skeleton
{
    background-image: linear-gradient(90deg, rgba(211, 209, 219, 0) 0px, rgba(211, 209, 219, .4) 40%, rgba(211, 209, 219, 0) 80%);
}

@keyframes skeleton-shine
{
    0%
    {
        background-position: 100%;
    }
    100%
    {
        background-position: -100%;
    }
}
