/*
 *	WebFont Package Licensed to Biings
 */

/* Averta Standard Light */
@font-face
{
    font-weight: 300;
    font-style: normal;
    font-family: Averta;
    src: url('fonts/Averta-Light.woff') format('woff'),
    url('fonts/Averta-Light.eot') format('eot');
}

/* Averta Standard Light Italic */
@font-face
{
    font-weight: 300;
    font-style: italic;
    font-family: Averta;
    src: url('fonts/Averta-LightItalic.woff') format('woff'),
    url('fonts/Averta-LightItalic.eot') format('eot');
}

/* Averta Standard Regular */
@font-face
{
    font-weight: 400;
    font-style: normal;
    font-family: Averta;
    src: url('fonts/Averta-Regular.woff') format('woff'),
    url('fonts/Averta-Regular.eot') format('eot');
}

/* Averta Standard Regular Italic */
@font-face
{
    font-weight: 400;
    font-style: italic;
    font-family: Averta;
    src: url('fonts/Averta-RegularItalic.woff') format('woff'),
    url('fonts/Averta-RegularItalic.eot') format('eot');
}

/* Averta Standard Semibold  */
@font-face
{
    font-weight: 500;
    font-style: normal;
    font-family: Averta;
    src: url('fonts/Averta-Semibold.woff') format('woff'),
    url('fonts/Averta-Semibold.eot') format('eot');
}

/* Averta Standard Semibold Italic */
@font-face
{
    font-weight: 500;
    font-style: italic;
    font-family: Averta;
    src: url('fonts/Averta-SemiboldItalic.woff') format('woff'),
    url('fonts/Averta-Semibold.eot') format('eot');
}

/* Averta Standard Bold */
@font-face
{
    font-weight: 700;
    font-style: normal;
    font-family: Averta;
    src: url('fonts/Averta-Bold.woff') format('woff'),
    url('fonts/Averta-Bold.eot') format('eot');
}

/* Averta Standard Bold Italic */
@font-face
{
    font-weight: 700;
    font-style: italic;
    font-family: Averta;
    src: url('fonts/Averta-BoldItalic.woff') format('woff'),
    url('fonts/Averta-BoldItalic.eot') format('eot');
}

/* Averta Standard Extra Bold  */
@font-face
{
    font-weight: 800;
    font-style: normal;
    font-family: Averta;
    src: url('fonts/Averta-Extrabold.woff') format('woff'),
    url('fonts/Averta-Extrabold.eot') format('eot');
}

/* Averta Standard Extra Bold Italic */
@font-face
{
    font-weight: 800;
    font-style: italic;
    font-family: Averta;
    src: url('fonts/Averta-ExtraboldItalic.woff') format('woff'),
    url('fonts/Averta-ExtraboldItalic.eot') format('eot');
}

/* Averta Standard Black */
@font-face
{
    font-weight: 900;
    font-style: normal;
    font-family: Averta;
    src: url('fonts/Averta-Black.woff') format('woff'),
    url('fonts/Averta-Black.eot') format('eot');
}

/* Averta Standard Black Italic */
@font-face
{
    font-weight: 900;
    font-style: italic;
    font-family: Averta;
    src: url('fonts/Averta-BlackItalic.woff') format('woff'),
    url('fonts/Averta-BlackItalic.eot') format('eot');
}

/* ———————————————————————————————————————————————————————————————————————————————————— */

/* Crimson-Pro Light */
@font-face
{
    font-weight: 300;
    font-style: normal;
    font-family: CrimsonPro;
    src: url('fonts/Crimson-Pro-300.ttf') format('truetype');
}

/* Crimson-Pro Regular */
@font-face
{
    font-weight: 400;
    font-style: normal;
    font-family: CrimsonPro;
    src: url('fonts/Crimson-Pro-400.ttf') format('truetype');
}

/* Crimson-Pro Medium */
@font-face
{
    font-weight: 500;
    font-style: normal;
    font-family: CrimsonPro;
    src: url('fonts/Crimson-Pro-500.ttf') format('truetype');
}

/* Crimson-Pro Semibold */
@font-face
{
    font-weight: 600;
    font-style: normal;
    font-family: CrimsonPro;
    src: url('fonts/Crimson-Pro-600.ttf') format('truetype');
}

/* Crimson-Pro Bold */
@font-face
{
    font-weight: 800;
    font-style: normal;
    font-family: CrimsonPro;
    src: url('fonts/Crimson-Pro-700.ttf') format('truetype');
}

/* Crimson-Pro Bolder */
@font-face
{
    font-weight: 900;
    font-style: normal;
    font-family: CrimsonPro;
    src: url('fonts/Crimson-Pro-900.ttf') format('truetype');
}
