body
{
    font-family: 'Lato', sans-serif;
    background-color: #f9f9fd !important;
    font-size: 16px;
}
main {
    border-top: 1px solid #eee;
}
h1 > a {
    font-weight: 700 !important;
}
aside.sidebar
{
    border-right: none;
    padding-top: 2.5em;
    box-shadow: 0px 0 35px #F3F3F4;
}
aside.sidebar,
.sidebar-toggle,
.search,
.search > input
{
    background-color: #fff !important;
}
.sidebar ul
{
    padding-left: 25px;
    margin-bottom: 15px;
}
ul > li {
    list-style-type: none;
    position: relative;
    padding-left: 6px;
    margin-bottom: 6px;
}
ul > li:before {
    content: '•';
    position: absolute;
    left: -20px;
    top: 0px;
    color: #B1B1BB;
    font-size: 1.1em;
}
.sidebar li:before {
    content : '';
}
.sidebar li
{
    margin: 12px;
    margin-right: 0;
    padding-left: 2px;
    list-style-type: none;
}
.sidebar-nav > ul > li:first-child
{
    margin: 0;
}
.sidebar li li {
    margin: 2px;
    margin-right: 0;
    padding-left: 15px;
}
.sidebar ul li > a,
.sidebar ul li.active > a {
    font-weight: 500;
}
.sidebar ul li a:hover
{
    text-decoration: none;
    color: #6861D9;
}
.app-sub-sidebar .section-link:before
{
    content: '';
}
.menubar
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    padding: 1.4em 1.8% 1.1em;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .15);
}
.menubar--hidden
{
    display: none;
}
.menubar--heroing,
.menubar--heroing--inverted
{
    border-bottom: none;
    background-color: transparent;
    box-shadow: none;
}
.menubar__logo
{
    margin-bottom: 1rem;
    margin-left: 0.2rem;
}
.markdown-section {
    padding: 30px 30px 40px;
}
.markdown-section p > a,
.markdown-section td > a
{
    font-weight: 500;
    text-decoration: underline;
}
a:hover
{
    text-decoration: none !important;
}
.markdown-section p.tip
{
background-color: #F1F1F3;
}
.markdown-section tr,
.markdown-section tr:nth-child(2n)
{
    background-color: #F6F6FB;
}
.markdown-section p.warn
{
    background-color: #DBF3EF;
    padding: 1rem 1.5rem;
}
.markdown-section pre
{
    background-color: #FBFBFF;
    border: 2px solid #EBEBEE;
    border-radius: 6px;
}
.markdown-section pre > code
{
    background-color: #FBFBFF;
    font-weight: 500;
}
.markdown-section code
{
    color: #5F5AC7;
    font-weight: 500;
    padding: 4px 5px;
    background-color: white;
}
.markdown-section blockquote
{
    color: #84848F;
    border-left: 4px solid #7B73FF;
}
footer {
    margin-top: 20%;
    font-size: 12px !important;
    letter-spacing: 0.1px;
}