/* Overrirde Bulma */
html
{
    overflow-x: initial;
    overflow-y: initial;
    background-color: white;
}

pre
{
    border: 1px solid rgba(71, 66, 89, 0.15);
    border-left-width: 8px;
    border-radius: 0;
}
pre code
{
    font-size: .85em !important;
}
code .tag
{
    background-color: transparent;
}
blockquote
{
    padding-left: 1rem;
    border-left: 2px solid #9389e1;
    color: #84848f;
}
footer
{
    color: #9c9da7;
    letter-spacing: .2px;
    font-size: 13px !important;
    line-height: 1.5em;
}
section.cover .cover-main
{
    text-align: left;
}
section.content
{
    left: 270px;
}
.markdown-section
{
    padding: 30px 30px 40px;
    max-width: 815px;
}

.markdown-section hr
{
    margin: 1.5rem 0;
}
.markdown-section p.tip
{
    padding: .75rem 1.6rem;
    background-color: #f8eceb;
}
.markdown-section p.warn
{
    padding: 1rem 1.6rem;
    background-color: #ddf2fe;
}
.markdown-section table
{
    display: table;
}
.markdown-section tr,
.markdown-section tr:nth-child(2n)
{
    border-top: none;
    background-color: transparent;
}

aside.sidebar
{
    padding-top: 5rem;
    width: 270px;
    border-right: none;
    background-color: #f9f8fc;
    color: #393b4f;
    font-size: .75em;
}
aside.sidebar:after
{
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 100%;
    border-radius: 6px 0 0 6px;
    background-color: white;
    content: '';
}
.sidebar-toggle
{
    top: 3px;
    bottom: inherit;
    left: 195px;
    padding: 1.1em 1.4em;
    width: 40px;
    background-color: transparent !important;
    cursor: pointer;
}
.sidebar-toggle:hover .sidebar-toggle-button
{
    opacity: .8;
}
@media screen and (min-width: 1023px)
{
    .markdown-section
    {
        margin: 0 0 0 5%;
    }
}
@media screen and (min-width: 769px)
{
    .sidebar-toggle
    {
        display: none;
    }
}
.docsify-logo
{
    position: absolute;
    top: 1.8rem;
    left: 2em;
    margin-bottom: 1em;
}
body.close .sidebar-toggle
{
    left: 0;
}
body.sticky .sidebar-toggle span
{
    background-color: #fff;
}
.sidebar-nav > ul
{
    margin-top: .5em;
}
.sidebar-nav > ul > li
{
    padding-bottom: .75em;
}
.sidebar ul li p
{
    padding-left: 1.9rem;
    border-left: .1875rem solid transparent;
    letter-spacing: 0 !important;
    font-weight: 500;
}
.sidebar ul li a,
.sidebar ul li p a
{
    padding: .25em 0;
    color: #9c9da7;
    font-weight: 500;
    font-size: .875rem;
}
.sidebar ul li ul
{
    padding: .375em 0 1.125em 0;
}
.sidebar-nav > ul > li > ul > li > a
{
    padding-left: 2.5rem;
    border-left: .3rem solid transparent;
}
.sidebar ul li a:hover
{
    color: #606272;
}
.sidebar ul p.active a,
.sidebar ul li.active a
{
    color: #7e6ade;
}
.sidebar ul p.active,
.sidebar ul li.active a
{
    border-color: #7e6ade;
}

/* Code Highlighting */
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog
{
    color: #8e908c;
}

.token.namespace
{
    opacity: .7;
}

.token.boolean,
.token.number
{
    color: #c76b29;
}

.token.punctuation
{
    color: #525252;
}

.token.property
{
    color: #c08b30;
}

.token.tag
{
    color: #2973b7;
    padding: 0;
}

.token.string
{
    color: #42b983;
    color: var(--theme-color, #42b983);
}

.token.selector
{
    color: #6679cc;
}

.token.attr-name
{
    color: #2973b7;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url
{
    color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit
{
    color: #42b983;
    color: var(--theme-color, #42b983);
}

.token.keyword
{
    color: #e96900;
}

.token.atrule,
.token.regex,
.token.statement
{
    color: #22a2c9;
}

.token.placeholder,
.token.variable
{
    color: #3d8fd1;
}

.token.deleted
{
    text-decoration: line-through;
}

.token.inserted
{
    border-bottom: 1px dotted #202746;
    text-decoration: none;;
}

.token.italic
{
    font-style: italic;
}

.token.bold,
.token.important
{
    font-weight: 700;
}

.token.important
{
    color: #c94922;
}

.token.entity
{
    cursor: help;
}