.avatar
    position: relative
    display: inline-block
    width: 3rem
    height: 3rem
    vertical-align: middle

.avatar > div
    display: table-cell
    overflow: hidden
    width: 3rem
    height: 3rem
    border-radius: 50%
    color: white
    vertical-align: middle
    text-align: center
    font-weight: 500
    font-size: 1.25rem

.avatar > img
    overflow: hidden
    width: 100%
    height: 100%
    border-radius: 50%

.avatar.is-small,
.avatar.is-small > div
    width: 2rem
    height: 2rem
    font-weight: 600
    font-size: .75rem

.avatar.is-medium,
.avatar.is-medium > div
    width: 4rem
    height: 4rem
    font-weight: 400
    font-size: 1.5rem

.avatar.is-large,
.avatar.is-large > div
    width: 5rem
    height: 5rem
    font-weight: 400
    font-size: 1.9rem

.avatar.is-huge,
.avatar.is-huge > div
    width: 7rem
    height: 7rem
    font-weight: 400
    font-size: 3.25rem

.avatar + span
    margin-left: .875rem

.avatar.is-small + span
    margin-left: .75rem

.avatar.is-large + span
    margin-left: 1.25rem

.avatar.is-huge + span
    margin-left: 1.5rem


/* Status badge */
.avatar.is-status-primary:after,
.avatar.is-status-purple:after,
.avatar.is-status-cyan:after,
.avatar.is-status-blue:after,
.avatar.is-status-pink:after,
.avatar.is-status-red:after,
.avatar.is-status-orange:after,
.avatar.is-status-yellow:after,
.avatar.is-status-turquoise:after,
.avatar.is-status-green:after,
.avatar.is-status-grey:after,
.avatar.is-status-dark:after,
.avatar.is-status-white:after
    position: absolute
    top: -3px
    right: -3px
    bottom: -3px
    left: -3px
    border: 1px solid transparent
    border-radius: 50%
    content: ''

.avatar.is-status-primary:after
    border-color: $primary

.avatar.is-status-purple:after
    border-color: $purple

.avatar.is-status-cyan:after
    border-color: $cyan

.avatar.is-status-blue:after
    border-color: $blue

.avatar.is-status-pink:after
    border-color: $pink

.avatar.is-status-red:after
    border-color: $red

.avatar.is-status-orange:after
    border-color: $orange

.avatar.is-status-yellow:after
    border-color: $yellow

.avatar.is-status-turquoise:after
    border-color: $turquoise

.avatar.is-status-green:after
    border-color: $green

.avatar.is-status-grey:after
    border-color: rgba($grey,.5)

.avatar.is-status-dark:after
    border-color: $dark

.avatar.is-status-white:after
    border-color: $white

