.avatar
    position: relative
    display: inline-block
    width: 3rem
    height: 3rem
    vertical-align: middle

.avatar > div,
.avatar > picture,
    display: table-cell
    overflow: hidden
    width: 3rem
    height: 3rem
    border-radius: 50%
    color: rgba($dark,.85)
    vertical-align: middle
    text-align: center
    font-weight: $weight-light
    font-size: 1.375rem
    box-shadow: inset 0 0 0 1px rgba($dark,.15)

.avatar > img,
.avatar > picture > img
    overflow: hidden
    width: 100%
    height: 100%
    border-radius: 50%

.avatar.is-tiny,
.avatar.is-tiny > div,
.avatar.is-tiny > picture
    width: 1.5rem
    height: 1.5rem
    font-size: .75rem
    text-indent: -1px
    font-weight: $weight-normal

.avatar.is-mini,
.avatar.is-mini > div,
.avatar.is-mini > picture
    width: 1.75rem
    height: 1.75rem
    font-size: .875rem
    font-weight: $weight-normal

.avatar.is-small,
.avatar.is-small > div,
.avatar.is-small > picture
    width: 2.25rem
    height: 2.25rem
    font-size: 1rem
    font-weight: $weight-normal

.avatar.is-medium,
.avatar.is-medium > div,
.avatar.is-medium > picture
    width: 4rem
    height: 4rem
    font-size: 1.625rem

.avatar.is-large,
.avatar.is-large > div,
.avatar.is-large > picture
    width: 5rem
    height: 5rem
    font-size: 2.125rem

.avatar.is-huge,
.avatar.is-huge > div,
.avatar.is-huge > picture
    width: 7rem
    height: 7rem
    font-size: 2.75rem

.avatar + span
    margin-left: .75rem

.avatar.is-tiny + span
    margin-left: .25rem

.avatar.is-mini + span
    margin-left: .5rem

.avatar.is-small + span
    margin-left: .625rem

.avatar.is-large + span
    margin-left: 1.25rem

.avatar.is-huge + span
    margin-left: 1.5rem


/* Status badge */
.avatar.is-status-primary:before,
.avatar.is-status-purple:before,
.avatar.is-status-cyan:before,
.avatar.is-status-blue:before,
.avatar.is-status-pink:before,
.avatar.is-status-red:before,
.avatar.is-status-orange:before,
.avatar.is-status-yellow:before,
.avatar.is-status-turquoise:before,
.avatar.is-status-green:before,
.avatar.is-status-grey:before,
.avatar.is-status-dark:before,
.avatar.is-status-white:before,
.avatar.is-status-success:before,
.avatar.is-status-warning:before
    position: absolute
    top: -.125em
    right: -.125em
    bottom: -.125em
    left: -.125em
    border: .0625em solid transparent
    border-radius: 50%
    content: ''
    transition: border-color .1s linear

.avatar.is-status-primary:before
    border-color: rgba($primary-light,.5)
    box-shadow: 0 -1px .625em rgba($primary-light,.4)

.avatar.is-status-purple:before
    border-color: rgba($purple,.5)
    box-shadow: 0 -1px .625em rgba($purple,.4)

.avatar.is-status-cyan:before
    border-color: rgba($cyan,.5)
    box-shadow: 0 -1px .625em rgba($cyan,.4)

.avatar.is-status-blue:before
    border-color: rgba($blue,.5)
    box-shadow: 0 -1px .625em rgba($blue,.4)

.avatar.is-status-pink:before
    border-color: rgba($pink,.5)
    box-shadow: 0 -1px .625em rgba($pink,.4)

.avatar.is-status-red:before
    border-color: rgba($red,.5)
    box-shadow: 0 -1px .625em rgba($red,.4)

.avatar.is-status-orange:before
    border-color: rgba($orange,.5)
    box-shadow: 0 -1px .625em rgba($orange,.4)

.avatar.is-status-yellow:before
    border-color: rgba($yellow,.5)
    box-shadow: 0 -1px .625em rgba($yellow,.4)

.avatar.is-status-turquoise:before
    border-color: rgba($turquoise,.5)
    box-shadow: 0 -1px .625em rgba($turquoise,.4)

.avatar.is-status-green:before
    border-color: rgba($green,.5)
    box-shadow: 0 -1px .625em rgba($green,.4)

.avatar.is-status-grey:before
    border-color: rgba($grey-light,.5)

.avatar.is-status-dark:before
    border-color: rgba($dark,.5)
    box-shadow: 0 -1px .625em rgba($dark,.4)

.avatar.is-status-white:before
    border-color: rgba($white,.5)
    box-shadow: 0 -1px .625em rgba($white,.4)
    
.avatar.is-status-success:before
    border-color: rgba($success,.5)
    box-shadow: 0 -1px .625em rgba($success,.4)
    
.avatar.is-status-warning:before
    border-color: rgba($warning,.5)
    box-shadow: 0 -1px .625em rgba($warning,.4)

// Tilted
// .avatar.is-tilted
//     transform: rotate(-13deg) !important
// .avatar.is-tilted > div > div
//     transform: rotate(13deg)

.avatar > picture
    display: block !important
    font-size: 0 !important

.avatar.is-tilted > picture > img
    transform: rotate(13deg) scale(1.05)
