.box
    transition: box-shadow .25s ease-out

.box.is-small
    padding: .6rem .8rem

.box.is-medium
    padding: 2rem 2.5rem

.box.is-large
    padding: 2.875em 3em

.box.is-larger
    padding: 3.5em 4em

@media screen and (max-width: 768px)
    .box.is-large,
    .box.is-larger
        padding-right: 1.5rem
        padding-left: 1.5rem

    .section .box
        margin-right: -1.5em
        margin-left: -1.5em

.box.is-bordered,
.box.hover-to-bordered:hover
    box-shadow: 0 0 0 2px $tabs-border-bottom-color

.box.is-bordered.is-link,
.box.hover-to-bordered.is-link:hover
    box-shadow: 0 0 0 2px $primary-light
    cursor: pointer

.box.is-bordered.hover-to-box:hover,
.box.is-bordered.hover-to-well:hover,
.box.is-bordered.hover-to-white:hover
    box-shadow: none

.box.hover-to-box:hover
    background: transparent

.box.is-white,
.box.hover-to-white:hover
    background-color: white
    transition-duration: .3s

.box.is-well,
.box.hover-to-well:hover
    background-color: rgba(mix($dark,$primary,40), .05)
    transition-duration: .3s

.box.is-raised,
.box.hover-to-raised:hover
    background-color: white
    box-shadow: 0 .2px 4px -2px rgba($dark, .1),0 .5px 5.1px -2px rgba($dark, .065),0 1.4px 5.9px -2px rgba($dark, .05),0 4px 8px -2px rgba($dark, .035)

.box.has-background-primary-dark.is-raised,
.box.has-background-dark.is-raised,
.box.has-background-dark.hover-to-raised:hover,
.box.has-background-dark.hover-to-raised:hover
    border: 2px solid rgba($dark, .1)
    border-bottom: 4px solid rgba($dark, .25)

.box.is-floating,
.box.hover-to-floating:hover
    background-color: white
    box-shadow: 0 .0625rem .125rem -1rem rgba($primary, .04), 0 1.5rem 3.75rem rgba($primary, .06), 0 .25rem .5rem rgba($black, .075)
    transition-duration: .3s

.box.is-popping,
.box.hover-to-popping:hover
    background-color: white
    box-shadow: 0 .125rem .1875rem -1.125rem rgba($primary-dark, .9), 0 .25rem .625rem -1.25rem rgba($primary-dark, .12), 0 1.25rem 2.5rem -1.25rem rgba($dark, .25)
    transition-duration: .4s

.box.is-expandable
    transition: box-shadow .25s ease-out, margin-right .3s cubic-bezier(.25, 1, .5, 1), margin-left .3s cubic-bezier(.25, 1, .5, 1)

.box.is-expandable:not(.is-expanded) > .expanded-content
    display: none

.box.is-expandable.is-expanded
    margin-right: -.75em
    margin-left: -.75em

.box.is-expandable.is-expanded > .expanded-content
    animation: fadein .4s ease-in

@keyframes fadein
    0%
        opacity: 0
    25%
        opacity: 0
    100%
        opacity: 1
