.box
    transition: box-shadow .15s ease-out

.box.is-small
    padding: .6rem .8rem

.box.is-medium
    padding: 2rem 2.5rem

@media screen and (min-width: $tablet)
    .box.is-large
        padding: 3em
    .box.is-larger
        padding: 4em

/* $input-border-color*/
.box.is-bordered,
.box.hover-to-bordered:hover
    box-shadow: inset 0 0 0 1px mix($dark,$code-background,4)

.box.is-bordered.is-link,
.box.hover-to-bordered.is-link:hover
    box-shadow: inset 0 0 0 1px $primary-light
    cursor: pointer

.box.is-bordered.hover-to-box:hover
    box-shadow: none

.box.hover-to-box:hover
    background: transparent

.box.is-white,
.box.hover-to-white:hover
    background-color: white
    transition-duration: .3s

.box.is-well,
.box.hover-to-well:hover
    background-color: $code-background
    transition-duration: .3s

.box.is-raised,
.box.hover-to-raised:hover
    background-color: white
    box-shadow: 0 .2px 4px -2px rgba($dark, .1),0 .5px 5.1px -2px rgba($dark, .065),0 1.4px 5.9px -2px rgba($dark, .05),0 4px 8px -2px rgba($dark, .035), rgba($dark, .025) 0px 0px 0px 1px

.box.is-bordered.is-raised,
.box.is-bordered.hover-to-raised:hover
    box-shadow: inset 0 0 0 1px mix($dark,$code-background,4), 0 .2px 4px -2px rgba($dark, .1),0 .5px 5.1px -2px rgba($dark, .065),0 1.4px 5.9px -2px rgba($dark, .05),0 4px 8px -2px rgba($dark, .035), rgba($dark, .025) 0px 0px 0px 1px

.box.is-floating,
.box.hover-to-floating:hover
    background-color: white
    box-shadow: 0 .0625rem .125rem -1rem rgba($grey-darker, .04), 0 1.5rem 3.75rem rgba($grey-darker, .05), 0 .25rem .5rem rgba($grey-darker, .075), 0px 0px 0px 1px rgba($grey-darker, .025)
    transition-duration: .3s

.box.is-bordered.is-floating,
.box.is-bordered.hover-to-floating:hover
    box-shadow: inset 0 0 0 1px mix($dark,$code-background,4), 0 .0625rem .125rem -1rem rgba($grey-darker, .04), 0 1.5rem 3.75rem rgba($grey-darker, .05), 0 .25rem .5rem rgba($grey-darker, .075), 0px 0px 0px 1px rgba($grey-darker, .025)

.box.is-popping,
.box.hover-to-popping:hover
    background-color: white
    box-shadow: 0 .125rem .1875rem -1.125rem rgba($grey-darker, .9), 0 .25rem .625rem -1.25rem rgba($grey-darker, .12), 0 1.25rem 2.5rem -1.25rem rgba($grey-darker, .25), rgba($grey-darker, .025) 0px 0px 0px 1px
    transition-duration: .4s

.box.is-bordered.is-popping,
.box.is-bordered.hover-to-popping:hover
    box-shadow: inset 0 0 0 1px mix($dark,$code-background,4), 0 .125rem .1875rem -1.125rem rgba($grey-darker, .9), 0 .25rem .625rem -1.25rem rgba($grey-darker, .12), 0 1.25rem 2.5rem -1.25rem rgba($grey-darker, .25), rgba($grey-darker, .025) 0px 0px 0px 1px

// Expandable Box
.box.is-expandable:not(.is-expanded) > .expanded-content
    display: none
.box.is-expandable.is-expanded > .expanded-content
    animation: fadein .4s ease-in

@keyframes fadein
    0%
        opacity: 0
    100%
        opacity: 1
