.button
    height: 2.5em
    border-radius: $dropdown-content-radius
    font-weight: 500
    transition: background-color .15s linear, box-shadow .2s linear

.button:hover
    background-color: rgba($black,.05)

.button.is-small
    height: 2.1875em

.button:not(.is-rounded).is-small
    border-radius: $radius

.button.is-text
    text-decoration: none 
    transition: color .1s linear
    font-weight: 600
.button.is-text:hover:not(:active)
    color: $link-hover
.button.is-text.has-text-grey:hover:not(:active)
    color: lighten($grey,5) !important

.button > .icon
    width: 1.125em
    height: 1.125em
    fill: $text
    transition: fill .1s linear

.button > .icon:first-child:not(:last-child)
    margin-right: .375em
    margin-left: -.125em
.button > .icon:last-child:not(:first-child)
    margin-right: -.125em
    margin-left: .375em

.button.is-primary > .icon,
.button.is-danger > .icon,
.button.is-info > .icon,
.button.is-warning > .icon,
.button.is-success > .icon,
.button.is-dark > .icon
    fill: white

.button:not(:hover) > .icon.is-light
    fill: $grey-dark
.button:hover > .icon.is-primary
    fill: $primary
.button:hover > .icon.is-danger
    fill: $danger
.button:hover > .icon.is-warning
    fill: $warning
.button:hover > .icon.is-info
    fill: $info
.button:hover > .icon.is-success
    fill: $success
.button:hover > .icon.is-dark
    fill: $dark

.button.is-beefy
    padding: calc(1.375em - #{$button-border-width}) 1.75em

.button.is-square
    padding: 0
    width: 2.5em
.button.is-small.is-square
    width: 2.1875em

button.button
    box-shadow: 0 0 0 5px rgba($black, 0)

button.button:active
    box-shadow: 0 0 0 0 rgba($black, .15)
    transition-duration: 0

// Loading state
.button.is-loading
    color: transparent !important

.button.is-loading:after
    border-color: $grey
    animation: pulsate .90s linear infinite !important

.button.is-loading.is-primary:after,
.button.is-loading.is-success:after,
.button.is-loading.is-info:after,
.button.is-loading.is-warning:after,
.button.is-loading.is-danger:after,
.button.is-loading.is-dark:after
    border-color: rgba(255,255,255,.65) !important

.button.is-loading.is-light:after
    border-color: $grey-dark !important

.button.is-loading.is-light.is-primary:after
    border-color: $primary !important

.button.is-loading.is-light.is-success:after
    border-color: $success !important

.button.is-loading.is-light.is-info:after
    border-color: $info !important

.button.is-loading.is-light.is-danger:after
    border-color: $danger !important


// Button chaining

.button + .button.is-static
    padding-right: .5em
    padding-left: .625em

.button.is-static + .button.is-text
    padding-left: 0

.button.is-text + .button.is-text
    margin-left: -.5em

.button.is-primary.is-light
    background-color: $primary-lighter
    color: $primary !important

.button.is-primary.is-light:hover
    background-color: mix($purple-light,$primary-lighter,6)


// New Type
.button.is-glowing
    position: relative

.button.is-glowing:before
    position: absolute
    top: 20%
    right: 8%
    bottom: 0
    left: 8%
    content: ''

.button.is-glowing.is-primary:before
    box-shadow: 0 .1875em 1.125em rgba($primary,.7)

.button.is-glowing.is-success:before
    box-shadow: 0 .1875em 1.125em rgba($success,.7)

.button.is-glowing.is-info:before
    box-shadow: 0 .1875em 1.125em rgba($info,.7)

.button.is-glowing.is-danger:before
    box-shadow: 0 .1875em 1.125em rgba($danger,.7)

.button.is-glowing.is-dark:before
    box-shadow: 0 .1875em 1.125em rgba($dark,.6)

.button.is-shadowed
    box-shadow: 0 1px 4px rgba(0,0,0,.1),0 2px 6px rgba(0,0,0,.1)
.button.is-shadowed:hover
    box-shadow: 0 2px 4px rgba(0,0,0,.15),0 3px 9px rgba(0,0,0,.15)

/* Button Group */
.control > .button:not(.is-light).is-active
    border-top-color: $primary-light
    box-shadow: inset 0 2px 0 0 $primary-light


/* Links */
a
    transition: all .15s ease !important

a.is-underlined:not(.is-regular),
a.is-ghost
    color: inherit

a.is-ghost:hover:not(.is-underlined)
    color: $primary

a.is-underlined
    text-decoration: underline
    text-underline-offset: .125em
    text-decoration-thickness: .1em
    text-decoration-width: .1em
    transition-property: text-decoration-color, text-decoration-thickness, text-decoration-width

a.is-underlined.is-ghost
    text-decoration-color: transparent

a.is-underlined:hover,
a.is-underlined.is-ghost:hover
    text-decoration: underline
    text-decoration-thickness: .2em
    text-decoration-width: .2em

    text-decoration-color: mix($primary, $primary-light, 20)

a.is-underlined.is-regular:hover
    color: $primary

