$control-height-small: 1.875rem !default

.button
    letter-spacing: 0
    font-weight: 500
    transition: background-color .15s linear, box-shadow .2s linear

.button:not(.is-text,.is-borderless,.is-ghost,.is-light,.is-outlined,.is-primary,.is-info,.is-warning,.is-danger,.is-success,.is-dark)
    box-shadow: $button-disabled-shadow

.button.is-small
    height: $control-height-small
    padding-left: .65rem
    padding-right: .625rem
    line-height: 1
    font-weight: $weight-normal
    
.button.is-large
    font-weight: $weight-semibold

.button:not(.is-rounded).is-small
    border-radius: $radius

.button.is-primary:not(.is-inverted,.is-light,.is-outlined),
.button.is-dark:not(.is-inverted,.is-light,.is-outlined),
.button.is-success:not(.is-inverted,.is-light,.is-outlined),
.button.is-danger:not(.is-inverted,.is-light,.is-outlined),
.button.is-warning:not(.is-inverted,.is-light,.is-outlined),
.button.is-info:not(.is-inverted,.is-light,.is-outlined)
    box-shadow: $button-disabled-shadow, 0 5px 4px -4px rgba($black,.2)

.button.is-secondary
    background-color: $white-ter

.button.is-text.has-text-grey:hover:not(:active)
    color: $grey-dark !important

.button > .icon
    width: 1.125em
    height: 1.125em
    fill: $text
    transition: fill .1s linear

.button > .icon.is-medium
    width: 1.375rem
    height: 1.375rem

.button > .icon:first-child:not(:last-child)
    margin-right: .375em
    margin-left: -.125em
.button > .icon:last-child:not(:first-child)
    margin-right: -.125em
    margin-left: .375em

.button.is-primary > .icon,
.button.is-danger > .icon,
.button.is-info > .icon,
.button.is-warning > .icon,
.button.is-success > .icon,
.button.is-dark > .icon
    fill: white

.button:not(:hover) > .icon.is-light
    fill: $grey-dark
.button:hover > .icon.is-primary
    fill: $primary
.button:hover > .icon.is-danger
    fill: $danger
.button:hover > .icon.is-warning
    fill: $warning
.button:hover > .icon.is-info
    fill: $info
.button:hover > .icon.is-success
    fill: $success
.button:hover > .icon.is-dark
    fill: $dark

// Outlined
.button.is-outlined,
.button.is-outlined:active
    background-color: transparent !important

.button.is-outlined:hover
    transition: none !important
    
.button.is-outlined:focus,
.button.is-outlined:hover,
.button.is-outlined.is-focused,
.button.is-outlined.is-hovered
    box-shadow: inset 0 0 0 1px $button-border-color

.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined.is-focused,
.button.is-primary.is-outlined.is-hovered
    box-shadow: inset 0 0 0 1px $primary
    color: $primary

.button.is-success.is-outlined:focus,
.button.is-success.is-outlined:hover,
.button.is-success.is-outlined.is-focused,
.button.is-success.is-outlined.is-hovered
    box-shadow: inset 0 0 0 1px $success
    color: $success

.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:hover,
.button.is-info.is-outlined.is-focused,
.button.is-info.is-outlined.is-hovered
    box-shadow: inset 0 0 0 1px $info
    color: $info

.button.is-warning.is-outlined:focus,
.button.is-warning.is-outlined:hover,
.button.is-warning.is-outlined.is-focused,
.button.is-warning.is-outlined.is-hovered
    box-shadow: inset 0 0 0 1px $warning
    color: $warning

.button.is-danger.is-outlined:focus,
.button.is-danger.is-outlined:hover,
.button.is-danger.is-outlined.is-focused,
.button.is-danger.is-outlined.is-hovered
    box-shadow: inset 0 0 0 1px $danger
    color: $danger

.button.is-dark.is-outlined:focus,
.button.is-dark.is-outlined:hover,
.button.is-dark.is-outlined.is-focused,
.button.is-dark.is-outlined.is-hovered
    box-shadow: inset 0 0 0 1px $dark
    color: $dark

.button.is-white.is-outlined:focus,
.button.is-white.is-outlined:hover,
.button.is-white.is-outlined.is-focused,
.button.is-white.is-outlined.is-hovered
    box-shadow: inset 0 0 0 1px $white
    color: white !important
    
.button.is-dashed.is-outlined,
.button.is-dashed.is-outlined:focus,
.button.is-dashed.is-outlined:hover,
.button.is-dashed.is-outlined.is-focused,
.button.is-dashed.is-outlined.is-hovered
    box-shadow: none !important

// Disabled states
.button[disabled]
    color: rgba($text,.5)
    
.button.is-primary[disabled],
.button.is-warning[disabled],
.button.is-info[disabled],
.button.is-danger[disabled],
.button.is-dark[disabled]
    color: rgba($white,.75)

.button.is-beefy
    padding: calc(1.375em - #{$button-border-width}) 1.75em

.button.is-square
    width: 2.625em
.button.is-small.is-square
    width: $control-height-small

// Button loading state
// See loader.saas


// Button chaining

.button + .button.is-static
    padding-right: .5em
    padding-left: .625em

.button.is-static + .button.is-text,
.button.is-static + .button.is-ghost
    padding-left: 0

.button.is-text + .button.is-text
    margin-left: -.5em


// New Type
.button.is-glowing
    position: relative

.button.is-glowing:before
    position: absolute
    top: 20%
    right: 8%
    bottom: 0
    left: 8%
    content: ''

.button.is-glowing.is-primary:before
    box-shadow: 0 .1875em 1.125em rgba($primary,.7)

.button.is-glowing.is-success:before
    box-shadow: 0 .1875em 1.125em rgba($success,.7)

.button.is-glowing.is-info:before
    box-shadow: 0 .1875em 1.125em rgba($info,.7)

.button.is-glowing.is-danger:before
    box-shadow: 0 .1875em 1.125em rgba($danger,.7)

.button.is-glowing.is-dark:before
    box-shadow: 0 .1875em 1.125em rgba($dark,.6)

// Dashed style
.button.is-dashed
    border-style: dashed


/* Links */
a,
.is-link
    vertical-align: baseline
    transition: all .125s ease-out !important

a.is-underlined:not(.is-regular),
.is-link.is-underlined:not(.is-regular),
a.is-ghost,
.is-link.is-ghost
    color: inherit

a.is-ghost:hover:not(.is-underlined),
a:hover > .is-link.is-ghost:not(.is-underlined)
    color: $link

a.is-underlined,
.is-link.is-underlined
    text-decoration: underline
    text-decoration-thickness: .0625em !important
    text-decoration-width: .0625em !important
    text-underline-offset: .125em !important
    transition-property: text-decoration-color, text-decoration-thickness, text-decoration-width

a.is-underlined.is-ghost,
.is-link.is-underlined.is-ghost
    text-decoration-color: transparent !important

a.is-underlined:hover,
a.is-underlined.is-ghost:hover,
a:hover > .is-link.is-underlined,
a:hover > .is-link.is-underlined.is-ghost
    text-decoration: underline
    text-decoration-thickness: .1875em !important
    text-decoration-width: .1875em !important
    text-decoration-color: $link !important
