// Sass to CSS4 vars
:root
{
    --color-pilot: #{$pilot};
    --color-pilot-dark: #{$pilot-dark};
    --color-pilot-light: #{$pilot-light};
    --color-pilot-lighter: #{$pilot-lighter};

    --color-care: #{$care};
    --color-care-dark: #{$care-dark};
    --color-care-light: #{$care-light};
    --color-care-lighter: #{$care-lighter};

    --color-claim: #{$claim};
    --color-claim-dark: #{$claim-dark};
    --color-claim-light: #{$claim-light};
    --color-claim-lighter: #{$claim-lighter};

    --color-cyan: #{$cyan};
    --color-cyan-dark: #{$cyan-dark};
    --color-cyan-light: #{$cyan-light};
    --color-cyan-lighter: #{$cyan-lighter};
    
    --color-blue: #{$blue};
    --color-blue-dark: #{$blue-dark};
    --color-blue-light: #{$blue-light};
    --color-blue-lighter: #{$blue-lighter};
    
    --color-purple: #{$purple};
    --color-purple-dark: #{$purple-dark};
    --color-purple-light: #{$purple-light};
    --color-purple-lighter: #{$purple-lighter};
    
    --color-red: #{$red};
    --color-red-dark: #{$red-dark};
    --color-red-light: #{$red-light};
    --color-red-lighter: #{$red-lighter};

    --color-pink: #{$pink};
    --color-pink-dark: #{$pink-dark};
    --color-pink-light: #{$pink-light};
    --color-pink-lighter: #{$pink-lighter};
    
    --color-orange: #{$orange};
    --color-orange-dark: #{$orange-dark};
    --color-orange-light: #{$orange-light};
    --color-orange-lighter: #{$orange-lighter};
    
    --color-green: #{$green};
    --color-green-dark: #{$green-dark};
    --color-green-light: #{$green-light};
    --color-green-lighter: #{$green-lighter};
    
    --color-yellow: #{$yellow};
    --color-yellow-dark: #{$yellow-dark};
    --color-yellow-light: #{$yellow-light};
    --color-yellow-lighter: #{$yellow-lighter};
    
    --color-turquoise: #{$turquoise};
    --color-turquoise-dark: #{$turquoise-dark};
    --color-turquoise-light: #{$turquoise-light};
    --color-turquoise-lighter: #{$turquoise-lighter};
       
    --color-black: #{$black};
    --color-black-bis: #{$black-bis};
    --color-black-ter: #{$black-ter};

    --color-grey-darker: #{$grey-darker};
    --color-grey-dark: #{$grey-dark};
    --color-grey: #{$grey};
    --color-grey-light: #{$grey-light};
    --color-grey-lighter: #{$grey-lighter};

    --color-white-ter: #{$white-ter};
    --color-white-bis: #{$white-bis};
    --color-white: #{$white};

    --color-primary: #{$primary};
    --color-primary-dark: #{$primary-dark};
    --color-primary-light: #{$primary-light};
    --color-primary-lighter: #{$primary-lighter};
    --color-light: #{$light};
    --color-dark: #{$dark};

    --color-info: #{$info};
    --color-info-dark: #{$info-dark};
    --color-info-lighter: #{$info-lighter};

    --color-success: #{$success};
    --color-success-dark: #{$success-dark};
    --color-success-lighter: #{$success-lighter};

    --color-warning: #{$warning};
    --color-warning-dark: #{$warning-dark};
    --color-warning-lighter: #{$warning-lighter};

    --color-danger: #{$danger};
    --color-danger-dark: #{$danger-dark};
    --color-danger-lighter: #{$danger-lighter};
}