// Dropdown content appears over the button
.dropdown:not(.is-hoverable):not(.has-arrow) > .dropdown-menu
    top: 0
    padding-top: 0

.dropdown.is-fullwidth,
.dropdown.is-fullwidth > .dropdown-trigger,
.dropdown.is-fullwidth  > .dropdown-menu,
.dropdown:not(.is-hoverable):not(.has-arrow) > .dropdown-menu
    min-width: 100%

.dropdown-trigger > .field > input
    cursor: pointer

.dropdown:not(.is-iconless) > .dropdown-trigger > .button
    padding-right: 2.625em

.dropdown:not(.is-iconless):after
    position: absolute
    top: 45%
    right: 1em
    margin-top: -.25em
    width: .5em
    height: .5em
    border-bottom: 1px solid $input-arrow
    border-left: 1px solid $input-arrow
    content: ''
    transition: transform .2s ease
    transform: rotate(-45deg)
    pointer-events: none

.dropdown.is-active:not(.is-iconless):after
    margin-top: 0
    transform: rotate(135deg)

.select:not(.is-multiple):not(.is-loading):after
    border-width: 1px
    border-radius: 0

.dropdown.is-active:not(.is-motionless) .dropdown-menu,
.dropdown.is-hoverable:not(.is-motionless):hover .dropdown-menu
    animation: dropDown .4s 1
    animation-timing-function: cubic-bezier(.19, 1, .22, 1)
    // animation-timing-function: cubic-bezier(.175, .885, .32, 1.275)

@keyframes dropDown
    from
        opacity: 0
        transform: scale(.9)
    to
        opacity: 1
        transform: scale(1)

.dropdown.has-arrow > .dropdown-menu > div:before
    position: absolute
    width: 0
    height: 0
    border-right: .625em solid transparent
    border-right-color: transparent !important
    border-left: .625em solid transparent
    border-left-color: transparent !important
    content: ''

.dropdown:not(.is-up) > .dropdown-menu > div:before
    top: -.25em
    border-bottom: .625em solid $white

.dropdown.is-up.has-arrow > .dropdown-menu > div:before
    bottom: -.25em
    border-top: .625em solid $white

.dropdown.has-arrow:not(.is-right) > .dropdown-menu > div:before
    left: 1.5em

.dropdown.has-arrow.is-centered > .dropdown-menu > div:before
    left: 50%
    margin-left: -.5em

.dropdown.has-arrow.is-right > .dropdown-menu > div:before
    right: 1.5em

.dropdown.has-arrow > .dropdown-menu > div.has-background-dark:before
    border-color: $dark

.dropdown.has-arrow > .dropdown-menu > div.has-background-primary:before
    border-color: $primary

.dropdown.has-arrow > .dropdown-menu > div.has-background-info:before
    border-color: $info
