/* Input field */
.input,
.textarea,
select,
.select > select,
.field > .checkbox,
.field > .radio
    min-height: 2.75em
    transition: border-color .1s ease-out

.textarea
    padding-left: calc(.875em - 1px)

.field:not(:last-child)
    margin-bottom: 1rem

.label:not(:last-child)
    margin-bottom: .25em

.field
    position: relative

form .field
    border-radius: $control-radius
    background-color: white

.label
    font-size: $size-small

.field > .label
    position: absolute
    top: .25em
    left: .25em
    z-index: 1
    padding-top: $control-padding-vertical
    padding-right: $control-padding-horizontal
    padding-bottom: $control-padding-vertical
    padding-left: $control-padding-horizontal
    color: $label-color
    transition: color .1s linear
    pointer-events: none

.field:not(.select) > .label
    cursor: text
.field.select > .label
    cursor: pointer

.field:focus-within > .label,
.field > .input:focus + .label
    color: $text

.field.is-danger > .input
    border-color: $danger
.field.is-info > .input
    border-color: $info
.field.is-warning > .input
    border-color: $warning


.input[readonly]:focus
    border-color: $border !important

.field > input,
.field > textarea,
.field > select
    padding-top: 2.125em
    padding-bottom: .75em
    width: 100%
    height: auto
    background-color: transparent !important
    box-shadow: 0 .25em .125em rgba($black,.025)

.field.select
    width: 100%
    height: auto

.field.select:after
    right: 1.5em !important
    margin-top: -.4375em !important

.field > .checkbox,
.field > .radio
    padding: 1.625em 1.5em
    width: 100%
    @extend %input

.field > .checkbox:active,
.field > .radio:active
    border-color: $input-border-color !important

.field > .checkbox > .checkbox-mark,
.field > .radio > .radio-mark
    top: .875em
    left: 1em

.field > .radio > .radio-mark
    top: 15px

.field > label > span
    color: $grey
    font-weight: 400
    font-style: italic

// Required field
.field:not(.select).is-required:after
    position: absolute
    top: calc(.375em + 1px)
    right: calc(.375em + 1px)
    color: $primary-light
    content: '*'
    font-size: 1.75em
    pointer-events: none

.field.select.is-required:before
    position: absolute
    top: 51%
    right: 1.75em
    z-index: 1
    margin-top: -.25em
    color: $primary-light
    content: '*'
    font-size: 1.75em
    pointer-events: none

.field.select.is-warning:before,
.field:not(.select).is-warning:after
    color: $warning

// Field with warning
.field.is-warning > input,
.field.is-warning > select
    background-color: mix($white,$claim-lighter,45) !important



/* Icon */
.control.has-icons-left .icon,
.control.has-icons-right .icon
    padding: .75em
    fill: $grey

.control.has-icons-left .icon
    margin-left: .125em

.control.has-icons-right .icon
    margin-right: .25em

