/* Checkbox & Radio */
.checkbox,
.radio
    user-select: none

.checkbox > input,
.radio > input
    width: 1.5rem
    opacity: 0
    cursor: pointer

.checkbox-mark,
.radio-mark
    position: absolute
    top: 0
    left: 0
    width: 1.25rem
    height: 1.25rem
    border-radius: 3px
    background-color: white
    box-shadow: inset 0 0 0 $control-border-width $border
    transition: background-color .15s linear, box-shadow .15s linear

.radio-mark
    border-radius: 50%

.checkbox:hover:not([disabled]):not(:active) > .checkbox-mark,
.radio:hover:not([disabled]) > .radio-mark
    box-shadow: inset 0 0 0 $control-border-width darken($border,8)

.checkbox > input:checked ~ .checkbox-mark
    border-radius: 4px
    background-color: $primary
    box-shadow: inset 0 0 0 $control-border-width $primary !important

.radio > input:checked ~ .radio-mark
    background-color: $primary
    box-shadow: inset 0 0 0 $control-border-width $primary !important

.checkbox[disabled] > .checkbox-mark,
.radio[disabled] > .radio-mark
    background-color: transparent
    box-shadow: inset 0 0 0 $control-border-width $border !important

.checkbox[disabled] > input:checked ~ .checkbox-mark
    background-color: rgba($border,.5)
    box-shadow: inset 0 0 0 $control-border-width transparent !important

.checkbox[disabled] > input:checked ~ .checkbox-mark:after
    border: solid $primary !important
    border-width: 0 2px 2px 0 !important

.radio[disabled] > input:checked ~ .radio-mark
    background-color: $grey-light
    box-shadow: inset 0 0 0 $control-border-width $grey-light !important

.checkbox-mark:after
    position: absolute
    top: 3px
    left: 7px
    display: none
    width: 6px
    height: 11px
    border: solid white
    border-width: 0 2px 2px 0
    content: ''
    transform: rotate(40deg)

.checkbox > input:indeterminate + .checkbox-mark:after
    top: 9px
    left: 6px
    width: 8px
    height: 0
    border-width: 0 0 2px 0
    transform: none

.radio-mark:after
    position: absolute
    top: 7px
    left: 7px
    display: none
    width: 6px
    height: 6px
    border-radius: 50%
    background-color: $white
    content: ''

.checkbox > input:checked ~ .checkbox-mark:after,
.radio > input:checked ~ .radio-mark:after
    display: block

.checkbox.is-toggle > input
    width: 3.5em

.checkbox.is-toggle > .checkbox-mark
    margin-top: .125em
    width: 29px
    height: 18px
    border-radius: 2rem !important
    background-color: rgba($dark, .25)
    box-shadow: none !important

.checkbox.is-toggle > .checkbox-mark:after
    top: 4px
    left: .25rem
    display: block
    width: 10px
    height: 10px
    border: none
    border-radius: 100%
    background-color: $white-bis
    box-shadow: 0 0 3px rgba($dark, .15)
    transition: left .2s cubic-bezier(.215, .61, .355, 1)
    transform: none

.checkbox.is-toggle > input:checked ~ .checkbox-mark
    background-color: $primary

.checkbox.is-toggle > input:checked ~ .checkbox-mark:after
    left: 15px
    background-color: white

.checkbox.is-toggle.is-large
    font-size: 19px

.checkbox.is-toggle.is-large .checkbox-mark
    width: 40px
    height: 24px

.checkbox.is-toggle.is-large > input
    width: 3.125rem
    margin-top: .9375em

.checkbox.is-toggle.is-large > .checkbox-mark:after
    top: 5px
    left: 5px
    width: 14px
    height: 14px

.checkbox.is-toggle.is-large > input:checked ~ .checkbox-mark:after
    left: 21px


/* Input field */
.input,
.textarea,
select,
.select > select,
.field > .checkbox,
.field > .radio
    min-height: 2.75em
    transition: border-color .1s ease-out

.textarea
    padding-left: calc(.875em - 1px)

.field:not(:last-child)
    margin-bottom: 1rem

.label:not(:last-child)
    margin-bottom: .25em

.field
    position: relative

form .field
    border-radius: $control-radius
    background-color: white

.label
    font-size: $size-small

.field > .label
    position: absolute
    top: .25em
    left: .25em
    z-index: 1
    padding-top: $control-padding-vertical
    padding-right: $control-padding-horizontal
    padding-bottom: $control-padding-vertical
    padding-left: $control-padding-horizontal
    color: $label-color
    transition: color .1s linear
    pointer-events: none

.field:not(.select) > .label
    cursor: text
.field.select > .label
    cursor: pointer

.field:focus-within > .label,
.field > .input:focus + .label
    color: $text

.field.is-danger > .input
    border-color: $danger
.field.is-info > .input
    border-color: $info
.field.is-warning > .input
    border-color: $warning


.input[readonly]:focus
    border-color: $border !important

.field > input,
.field > textarea,
.field > select
    padding-top: 2.125em
    padding-bottom: .75em
    width: 100%
    height: auto
    background-color: transparent !important
    box-shadow: 0 .25em .125em rgba($black,.025)

.field.select
    width: 100%
    height: auto

.field.select:after
    right: 1.5em !important
    margin-top: -.4375em !important

.field > .checkbox,
.field > .radio
    padding: 1.75em
    width: 100%
    @extend %input

.field > .checkbox > .checkbox-mark,
.field > .radio > .radio-mark
    top: 1.125em
    left: 1.25em

.field > label > span
    color: $grey
    font-weight: 400
    font-style: italic

// Required field
.field:not(.select).is-required:after
    position: absolute
    top: calc(.375em + 1px)
    right: calc(.375em + 1px)
    color: $primary-light
    content: '*'
    font-size: 1.75em
    pointer-events: none

.field.select.is-required:before
    position: absolute
    top: 51%
    right: 1.75em
    z-index: 1
    margin-top: -.25em
    color: $primary-light
    content: '*'
    font-size: 1.75em
    pointer-events: none

.field.select.is-warning:before,
.field:not(.select).is-warning:after
    color: $warning

// Field with warning
.field.is-warning > input,
.field.is-warning > select
    background-color: mix($white,$claim-lighter,45) !important



/* Icon */
.control.has-icons-left .icon,
.control.has-icons-right .icon
    padding: .75em
    fill: $grey

.control.has-icons-left .icon
    margin-left: .125em

.control.has-icons-right .icon
    margin-right: .25em

