/* Input field */
.input,
.textarea,
select,
.select > select,
.field > .checkbox,
.field > .radio
    min-height: 2.75em
    transition: border-color .1s ease-out

.textarea
    padding-left: calc(.875em - 1px)

.field
    position: relative

.field:not(:last-child)
    margin-bottom: 1rem
.label:not(:last-child)
    margin-bottom: .25em

form .field
    border-radius: $control-radius
    background-color: white

.label
    font-size: $size-small

.field > .label
    position: absolute
    top: .25em
    left: .25em
    z-index: 1
    padding-top: $control-padding-vertical
    padding-right: $control-padding-horizontal
    padding-bottom: $control-padding-vertical
    padding-left: $control-padding-horizontal
    color: $label-color
    transition: color .1s linear
    pointer-events: none

.field:not(.select) > .label
    cursor: text
.field.select > .label
    cursor: pointer

.field:focus-within > .label,
.field > .input:focus + .label
    color: $text

.field > input,
.field > textarea,
.field > select
    padding-top: 2.125em
    padding-bottom: .75em
    width: 100%
    height: auto

.field > input,
.field > textarea,
.field > select,
.field.select > select,
.field.select > select:active,
.field > label.checkbox,
.field > label.radio
    border-color: rgba($black,.125)
    background-color: transparent !important

.field > input:hover:not(:focus),
.field > textarea:hover:not(:focus),
.field > select:hover,
.field.select > select:hover,
.field > label.checkbox:hover:not(:active),
.field > label.radio:hover:not(:active)
    border-color: rgba($black,.2)

.field > input,
.field > input[readonly],
.field > textarea,
.field > textarea[readonly],
.field > select,
.field > select[readonly],
.field > label.checkbox,
.field > label.radio
    box-shadow: 0 .25em .125em rgba($black,.025)

.field.select
    width: 100%
    height: auto

.field.select:after
    right: 1.5em !important
    font-size: 1.25rem

.field > .checkbox,
.field > .radio
    padding: 1.625em 1.5em
    width: 100%
    @extend %input

.field > .checkbox > .checkbox-mark,
.field > .radio > .radio-mark
    top: .875em
    left: 1em

.field > .radio > .radio-mark
    top: 15px

.field > label > span
    color: $grey
    font-weight: 400
    font-style: italic

.field.is-primary > .input,
.field.is-primary > select
    border-color: $primary !important

.field.is-danger > .input,
.field.is-danger > select
    border-color: $danger !important
.field.is-danger > .input
    color: $danger

.field.is-info > .input,
.field.is-info > select
    border-color: $info !important
.field.is-info > .input
    color: $info

.field.is-success > .input,
.field.is-success > select
    border-color: $success !important
.field.is-success > .input
    color: $success


// Required field
.field.is-required:before
    position: absolute
    bottom: 1.25rem
    left: -.25em
    z-index: 10
    width: 11px
    height: 11px
    border-radius: $radius-rounded
    background-color: $warning
    box-shadow: 0 0 0 0 rgba($warning,0)
    content: ''
    animation: blinking 2s linear infinite
    pointer-events: none

// Field with warning
.field.is-warning > input,
.field.is-warning > textarea,
.field.is-warning > select
    background-color: mix($white,$claim-lighter,40) !important

/* Icon */
.control.has-icons-left .icon,
.control.has-icons-right .icon
    padding: .75em
    fill: $grey

.control.has-icons-left .icon
    margin-left: .125em

.control.has-icons-right .icon
    margin-right: .25em

@keyframes blinking
    0%
        box-shadow: 0 0 0 0 rgba($warning,0)
    60%
        box-shadow: 0 0 0 .25rem rgba($warning,.3)
    100%
        box-shadow: 0 0 0 .375rem rgba($warning,0);
