.loader
    position: relative
    width: 1em
    height: 1em
    border: none
    opacity: 0
    transform: scale(0)
    animation: pulsate 1s linear infinite !important
    &:after
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border: 2px solid rgba(70, 40, 93, .4)
        border-radius: 50%
        content: ''

@keyframes pulsate
    0%
        opacity: 0
        transform: scale(0)
    70%
        opacity: 1
    100%
        opacity: 0
        transform: scale(1)

.loader:not(.is-inline)
    position: absolute
    top: calc(50% - .5em)
    left: calc(50% - .5em)

.loader.is-inline
    display: inline-block !important
    margin: 0 .25em .125em
    vertical-align: middle

.loader.is-inverted
    &:after
        border-color: rgba(255,255,255,.4)

.loader.is-colorful
    &:after
        border-color: $primary
