.loader
    position: relative
    width: 1em
    height: 1em
    border: none
    opacity: 0
    transform: scale(0)
    &:after
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border: 2px solid rgba(70, 40, 93, .5)
        border-radius: 50%
        content: ''
.loader:not(.is-indeterminate)
    animation: pulsate 1s ease-out infinite !important

.loader.is-indeterminate
    animation: pulsate-ind 1s ease-in-out infinite alternate !important

@keyframes pulsate
    0%
        opacity: 0
        transform: scale(0)
    60%
        opacity: 1
    100%
        opacity: 0
        transform: scale(1)

@keyframes pulsate-ind
    0%
        opacity: .25
        transform: scale(.45)
    100%
        opacity: 1
        transform: scale(1)

.loader:not(.is-inline)
    position: absolute
    top: calc(50% - .5em)
    left: calc(50% - .5em)

// Inline usage

.loader.is-inline
    display: inline-block !important
    margin: 0 .25em
    vertical-align: middle

.loader.is-inline + .loader.is-inline
    animation-delay: .2s !important
.loader.is-inline + .loader.is-inline + .loader.is-inline
    animation-delay: .4s !important

.loader.is-inverted
    &:after
        border-color: rgba(255,255,255,.6)

.loader.is-primary
    &:after
        border-color: $purple

.loader.is-success
    &:after
        border-color: mix($turquoise,$success,25)

.loader.is-secondary
    &:after
        border-color: $warning-dark

.loader.is-info
    &:after
        border-color: $info

.loader.is-pink
    &:after
        border-color: $pink

// Component Loading state
.button.is-loading
    color: transparent !important

.control.is-loading:after
    top: .875em
    right: 1em

.button.is-loading:after,
.control.is-loading:after
    border-color: $grey
    animation: pulsate .9s linear infinite !important

.button.is-loading.is-indeterminate:after,
.control.is-loading.is-indeterminate:after
    animation: pulsate-ind .9s ease-in-out infinite alternate !important

.button.is-loading.is-primary:after,
.button.is-loading.is-success:after,
.button.is-loading.is-info:after,
.button.is-loading.is-warning:after,
.button.is-loading.is-danger:after,
.button.is-loading.is-dark:after
    border-color: rgba(255,255,255,.65) !important
.button.is-loading.is-light:after
    border-color: $grey-dark !important
.button.is-loading.is-light.is-primary:after,
.is-loading.is-primary:after
    border-color: $primary !important
.button.is-loading.is-light.is-success:after,
.is-loading.is-success:after
    border-color: $success !important
.button.is-loading.is-light.is-info:after,
.is-loading.is-info:after
    border-color: $info !important
.button.is-loading.is-light.is-danger:after,
.is-loading.is-danger:after
    border-color: $danger !important
.button.is-loading.is-light.is-warning:after,
.is-loading.is-warning:after
    border-color: $warning !important


// Progress bar
.progress
    overflow: visible
    background-color: inherit !important
.progress.is-thin
    height: .375rem
.progress.is-fat
    height: 1.375rem
.progress[value]::-webkit-progress-bar
    border-radius: $progress-border-radius
.progress[value]::-webkit-progress-value
    border-radius: 2rem
.progress.has-radius-soft[value]::-webkit-progress-bar
    border-radius: .3125em
.progress.has-radius-soft[value]::-webkit-progress-value
    border-radius: .3125em
    
.progress.has-radius-soft
      &::-webkit-progress-bar
        background-color: rgba($black,.15)

@each $name, $pair in $progress-colors
    $color: nth($pair, 1)
    &.is-#{$name}
      &::-webkit-progress-value
        box-shadow: 0 .125rem .75rem rgba($color,.5)
      &::-moz-progress-bar
        box-shadow: 0 .125rem .75rem rgba($color,.5)
      &::-ms-fill
        box-shadow: 0 .125rem .75rem rgba($color,.5)
    
.progress:indeterminate
    background-image: repeating-linear-gradient(45deg, $grey, $grey 10px, mix($grey-dark,$grey,70) 10px, mix($grey-dark,$grey,70) 20px)
    animation: progressing .35s linear infinite
    animation-direction: reverse
.progress.is-dark:indeterminate
    background-image: repeating-linear-gradient(45deg, $primary-dark, $primary-dark 10px, mix($black,$dark,10) 10px, mix($black,$dark,10) 20px)
.progress.is-primary:indeterminate
    background-image: repeating-linear-gradient(45deg, $primary, $primary 10px, mix($primary-dark,$primary,65) 10px, mix($primary-dark,$primary,65) 20px)
.progress.is-success:indeterminate
    background-image: repeating-linear-gradient(45deg, $success, $success 10px, $success-dark 10px, $success-dark 20px)
.progress.is-info:indeterminate
    background-image: repeating-linear-gradient(45deg, $info, $info 10px, mix($info,$blue-light,10) 10px, mix($info,$blue-light,10) 20px)
.progress.is-warning:indeterminate
    background-image: repeating-linear-gradient(45deg, $warning, $warning 10px, mix($warning,$yellow-light,30) 10px, mix($warning,$yellow-light,30) 20px)

@keyframes progressing
    0%
        background-position-x: 0
    100%
        background-position-x: -28px
