.message.is-noti
    display: block
    margin: 1.5rem auto
    padding: 3rem 2rem
    max-width: 30rem
    width: 15rem
    border-radius: 2rem
    background-color: rgba($white,.94)
    box-shadow: 0 0 14px 0 rgba($black,.02), 0 0 0 1px rgba($black-bis,.02)
    text-align: center
    opacity: 0
    transition: opacity .25s linear
    user-select: none

.message.is-noti.is-danger
    background-color: rgba(lighten($red-lighter,9),.9)

.modal.is-active .message.is-noti
    opacity: 1

