.message.is-primary
    background-color: $primary-dark

.message.is-dark
    background-color: rgba($dark,0.1)

.message.is-primary > .message-body,
.message.is-primary > .message-body > .title
    color: white
    border: none !important

.message.is-noti
    position: absolute
    bottom: 3.5em
    display: block
    margin: 1.5em 0
    max-width: 30rem
    border-radius: 1em
    opacity: 0
    transition: opacity .25s linear
    transition: bottom .5s ease-out
    transition-delay: 2s
    user-select: none

.message.is-noti > .message-body
    border-width: 1px
    border-style: solid
    border-radius: 1em
    box-shadow: 0 6px 25px -8px rgba($black, .3)

.modal.is-active > .message.is-noti
    bottom: 0
    left: 1.5em
    opacity: 1
    animation: fadeIn .6s 1
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)

.modal.is-active > .message.is-noti.is-medium,
.modal.is-active > .message.is-noti.is-large
    animation: moveIn .6s 1

@keyframes moveIn
    from
        left: -2em
        opacity: 0
    to
        left: 1.5em
        opacity: 1

@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1

