.modal-content,
.modal-background
    will-change: opacity
    will-change: transform

.modal.is-active > .modal-content
    animation: shrinkIn .15s ease-out 0 1

.modal.is-active > .modal-background
    animation: fadeIn .2s ease-out 0 1

.modal.is-closing > .modal-content
    animation: shrinkOut .25s ease-out 0 1

.modal.is-closing > .modal-background
    animation: fadeIn .25s ease-out 0 1

.modal.is-pinned > .modal-content,
.modal.is-pinned > .modal-card
    position: absolute
    top: 8%

.modal-card-title
    font-weight: $weight-semibold

.modal-card-body:first-child
    border-top-left-radius: $modal-card-head-radius
    border-top-right-radius: $modal-card-head-radius

.modal-card-body:last-child
    border-bottom-left-radius: $modal-card-head-radius
    border-bottom-right-radius: $modal-card-head-radius

.modal-card-foot
    display: block
    justify-content: none

.modal-card-foot .button:not(:last-child)
    margin-right: 0

.modal-card-foot .button.is-text:last-child
    margin-right: -.75em

.delete
    background-color: transparent !important
    height: 1.25rem
    max-height: 1.25rem
    max-width: 1.25rem
    min-height: 1.25rem
    min-width: 1.25rem
    width: 1.25rem
    margin-right: -.25rem
    &:before,
    &:after
        background-color: $grey-light
    &:before
        width: 100%
    &:after
        height: 100%

.delete:focus,
.delete:hover
    &:before,
    &:after
        background-color: $grey

@keyframes shrinkIn
    0%
        opacity: .1
        transform: scale(1.1)
    100%
        opacity: 1
        transform: scale(1)

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes shrinkOut
    0%
        transform: scale(1)
    100%
        transform: scale(1.1)

@keyframes fadeOut
    0%
        opacity: 1
    100%
        opacity: 0