.modal-card
    box-shadow: 0 1.5px 2.7px -20px $black, 0 5px 8.9px -20px rgba($black, .5), 0 8px 40px -10px rgba($black, .5)

.modal-content,
.modal-card,
.modal-background
    will-change: opacity
    will-change: transform

.modal.is-active > .modal-content
    animation: shrinkIn .5s 1
    animation-timing-function: cubic-bezier(.19, 1, .22, 1)

.modal.is-active > .modal-card
    animation: dropIn .6s 1
    animation-timing-function: cubic-bezier(.19, 1, .22, 1)

.modal.is-active > .modal-background
    animation: fadeIn .5s 1
    animation-timing-function: cubic-bezier(.19, 1, .22, 1)

.modal.is-pinned > .modal-content,
.modal.is-pinned > .modal-card
    position: absolute
    top: 8%

.modal-card-title
    font-weight: $weight-semibold


// Remove scrollbars
.modal-card-body
    -ms-overflow-style: none;
    scrollbar-width: none;

// .modal-card-body::-webkit-scrollbar
//     display: none

.modal-card-body:first-child
    padding-top: 1.875rem
    border-top-left-radius: $modal-card-head-radius
    border-top-right-radius: $modal-card-head-radius

.modal-card-body:last-child
    padding-bottom: 1.875rem
    border-bottom-right-radius: $modal-card-head-radius
    border-bottom-left-radius: $modal-card-head-radius

.modal-card-head > .delete,
.modal-card-body > .delete
    position: absolute
    top: 1.5rem
    right: 1.5rem

.modal-card-foot
    display: block

.modal-card-foot .button:not(:last-child)
    margin-right: 0

.modal-card-foot .button.is-text:last-child
    margin-right: -.75em

.modal-card-foot.has-text-right .button:last-child
    margin-left: .5em

.modal-close,
.delete
    border-radius: $radius-small
    &:before
        width: 60%
    &:after
        height: 60%

.delete
    margin-right: -.25rem
    min-width: 2rem
    min-height: 2rem
    max-width: 2rem
    max-height: 2rem
    width: 2rem
    height: 2rem
    background-color: transparent !important
    &:before,
    &:after
        background-color: $grey

.modal-close:hover,
.delete:hover
    background-color: rgba($dark,.1) !important

.delete:hover
    &:before,
    &:after
        background-color: $dark

@keyframes shrinkIn
    0%
        opacity: .1
        transform: scale(1.125)
    100%
        opacity: 1
        transform: scale(1)

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes fadeOut
    0%
        opacity: 1
    100%
        opacity: 0

@keyframes dropIn
    from
        opacity: 0
        transform: translateY(-2.5em)
    to
        opacity: 1
        transform: translateY(0);
