// Style removing classes
.is-motionless
    transition: none !important

.is-decorationless
    text-decoration: none !important

@media print
    .is-hidden-print
        display: none !important

// ADJUSTMENTS TO BULMA :

// Card
.card
    border-radius: 2px

.card-footer
    border-radius: 0 0 2px 2px

// Table
th
    font-weight: 700

// Code
pre
    border-left: 0.375em solid rgba($primary-dark, 0.08)