.has-skeleton:empty
    min-height: 1.5em
    background-color: rgba($black-bis, .03)
    background-image: linear-gradient(110deg, rgba($black-ter, 0.03) 0px, rgba($black-ter, .15) 15rem, rgba($black-ter, 0.03) 30rem)
    background-size: 60rem
    content: ''
    animation: skeleton-shine 1.8s infinite linear

.has-skeleton:nth-child(2n)
    animation-delay: -.225s

.has-skeleton:nth-child(3n)
    animation-delay: -.45s

.has-skeleton:nth-child(4n)
    animation-delay: -.675s

.has-skeleton:nth-child(5n)
    animation-delay: -.9s

@keyframes skeleton-shine
    0%
        background-position: -30rem
    100%
        background-position: 30rem

