.tabs
    overflow: visible
.tabs > ul > li
    position: relative
.tabs.has-hr:hover > ul > li:not(:hover,.is-active) > a,
.tabs.is-boxed:hover > ul > li:not(:hover,.is-active) > a
    color: rgba($text,.7)

.tabs:not(.is-boxed,.is-toggle) + hr
    margin-top: 1px;
    
.tabs:not(.is-boxed,.is-toggle) > ul
    border: none

.tabs:not(.is-boxed):not(.is-toggle) > ul > li > a:after
    position: absolute
    right: 50%
    bottom: -($tabs-border-bottom-width)
    left: 50%
    height: $tabs-border-bottom-width
    background-color: $primary
    content: ''
    transition: left .15s ease, right .15s ease

.tabs:not(.is-boxed) > ul > li.is-active > a:after
    right: 25%
    left: 25%
.tabs.is-fullwidth:not(.is-boxed) > ul > li.is-active > a:after
    right: 0
    left: 0

.tabs.is-boxed > ul
    box-shadow: 0 1px 0 $hr-background-color
.tabs.is-boxed a
    padding: .625em 1.5em .875em
.tabs.is-boxed > ul > li.is-active > a
    font-weight: $weight-medium
    box-shadow: 0 1px 0 $white-bis
.tabs.is-boxed > ul > li > a
    transition: none !important

.tabs.is-toggle a
    padding: .3125em 1em
    margin: 2px
    border-radius: $tabs-toggle-link-radius
.tabs.is-toggle li:first-child
    border-radius: $tabs-toggle-link-radius 0 0 $tabs-toggle-link-radius
.tabs.is-toggle li:last-child
    border-radius: 0 $tabs-toggle-link-radius $tabs-toggle-link-radius 0

/* With HR background */
.tabs.is-toggle.has-hr > ul > li
    background-color: $code-background
.tabs.is-toggle.has-hr > ul > li.is-active > a
    background-color: $white
    box-shadow: $card-shadow
.tabs.is-toggle.has-hr > ul > li:not(.is-active) > a:hover
    background-color: transparent

// Rounded toggle
.tabs.is-toggle.is-toggle-rounded  li:first-child
    border-radius: $radius-rounded 0 0 $radius-rounded
.tabs.is-toggle.is-toggle-rounded  li:last-child
    border-radius: 0 $radius-rounded $radius-rounded 0

.tabs.is-toggle.is-toggle-rounded li > a
    border-radius: 2em !important
