.tabs
    overflow: visible

.tabs > ul > li
    position: relative
    font-weight: 500

.tabs > ul > li > a
    border-bottom: none

.tabs:not(.is-boxed) > li:first-child > a
    padding-left: .75em

.tabs:not(.is-boxed) > ul > li > a:after
    position: absolute
    right: 50%
    bottom: -($tabs-border-bottom-width)
    left: 50%
    height: 2px
    background-color: $primary-dark
    content: ''
    transition: left .15s ease, right .15s ease

.tabs:not(.is-boxed) > ul > li.is-active > a:after
    right: 33%
    left: 33%

.tabs.is-hanging > ul
    border-top-width: $tabs-border-bottom-width
    border-top-style: $tabs-border-bottom-style
    border-top-color: $tabs-border-bottom-color
    border-bottom: none

.tabs.is-hanging a
    border: none

.tabs.is-hanging > ul > li a:after
    top: 0
    bottom: auto

.tabs.is-boxed a
    margin-bottom: -($tabs-border-bottom-width*2)
    padding: .625em 1.125em .875em
    border-width: ($tabs-border-bottom-width*2)

