.tag:not(body)
    min-width: 1.875em
    height: 1.875em
    line-height: 1.25

.tag:not(body)
    padding-right: .625em
    padding-left: .625em

span.tag + .tag
    margin-left: .125em

.tag.is-small,
.tag.is-tiny
    border-radius: $radius-small
    font-size: $size-7

.tag.is-tiny
    padding-right: .5em
    padding-left: .5em
    height: 1.625em

.tag.is-primary,
.tag.is-success,
.tag.is-info,
.tag.is-danger,
.tag.is-warning,
.tag.is-dark,
.tag.is-secondary
    font-weight: $weight-medium

.tag.is-glowing.is-primary
    box-shadow: 0 .25em 1em -.25em rgba($primary,.75)
.tag.is-glowing.is-success
    box-shadow: 0 .25em 1em -.25em rgba($success,.75)
.tag.is-glowing.is-info
    box-shadow: 0 .25em 1em -.25em rgba($info,.5)
.tag.is-glowing.is-danger
    box-shadow: 0 .25em 1em -.25em rgba($danger,.75)
.tag.is-glowing.is-warning
    box-shadow: 0 .25em 1em -.25em rgba($warning,.7)
.tag.is-glowing.is-secondary
    background-color: mix($orange,$secondary,15%)
    box-shadow: 0 .25em 1em -.25em rgba($secondary,.8)
    color: white

// Wired design
.tag.is-wired
    border: 1px solid rgba($grey,.75)
    background: none
    background-color: transparent !important
    color: $grey-dark
    font-weight: $weight-normal

.tag.is-wired.is-dark
    border-color: $grey-dark
    color: $dark
.tag.is-wired.is-primary
    border-color: $primary-light
    color: $primary
.tag.is-wired.is-success
    border-color: mix($white-bis,$success,25%)
    color: mix($success-dark,$success,50%)
.tag.is-wired.is-info
    border-color: $blue-light
    color: $info
.tag.is-wired.is-danger
    border-color: $red-light
    color: $danger
.tag.is-wired.is-warning
    border-color: $yellow-light
    color: $warning

