.tooltip:not(:hover)
    z-index: 1 !important

.tooltip:before
    line-height: 1.25rem !important
    
// Delay the appearance of the tooltip
.tooltip:hover.is-delayed:before,
.tooltip:hover.is-delayed:after
    transition-delay: .6s !important