html,
body
    letter-spacing: -.0125em

::selection
    background: rgba(140, 80, 185, .2)

/* Hand-drawn Font family */
.is-family-hand
    font-family: 'Caveat', cursive

.is-size-bigger
    font-size: 1.1em !important;

.is-size-smaller
    font-size: .875em !important;


/* Titles */
h1.title
    font-size: $size-1
h2.title
    font-size: $size-2
h3.title
    font-size: $size-3
h4.title
    font-size: $size-4
h5.title
    font-size: $size-5
h6.title
    font-size: $size-6

// Adjust Crimson Font size

// .is-family-secondary,
// .title:not(.is-family-primary)
//     transform: scale(1.1)
//     transform-origin: 0 85%

// .is-family-hand,
// .title.is-family-hand
//     transform: scale(1.25)
//     transform-origin: 0 85%

// .is-family-secondary.has-text-centered,
// .title.has-text-centered:not(.is-family-primary),
// .is-family-hand
//     transform-origin: 50% 85%

.is-family-secondary
    letter-spacing: -.025em
.title:not(.is-family-primary)
    letter-spacing: -.05em

// span.is-family-secondary
//     display: inline-block


u
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDMgNSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjYWE1MGI1IiBzdHJva2Utb3BhY2l0eT0iMzAlIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiIHN0cm9rZS13aWR0aD0iMyIgZD0iTTIsMy4xMDgwNTIzNiBDMTYuNzI3MDE0NCwyLjU1NDY4MzI4IDMxLjQ0NjY0NTUsMi43MTY5ODg5MSA0Ni4xOTA0ODg0LDIuNDg5MTUyOSBDNzcuODE4Mjc2OSwyLjAwMDQwOTk0IDEwMS4yNjczNCwyLjAwMDQwOTk0IDE0MC41NzkzNDUsMi40ODkxNTI5Ii8+PC9zdmc+)
    background-position: bottom
    background-size: 100% .125em
    background-repeat: no-repeat
    text-decoration: none
    text-transform: none
    font-weight: inherit
    font-style: normal

em
    border-radius: .5em .125em .625em .125em
    background-image: linear-gradient(90deg, rgba($orange, .3), rgba($yellow, .3))
    font-style: normal
