html,
body
    letter-spacing: -.015625em

::selection
    background: rgba(140, 80, 185, .2)

/* Hand-drawn Font family */
.is-family-hand
    font-family: 'Caveat', cursive

.has-text-weight-bolder
    font-weight: 900 !important

.is-size-bigger
    font-size: 1.1em !important


.is-size-smaller
    font-size: .875em !important



/* Titles */
h1.title
    font-size: $size-1
h2.title
    font-size: $size-2
h3.title
    font-size: $size-3
h4.title
    font-size: $size-4
h5.title
    font-size: $size-5
h6.title
    font-size: $size-6

// Adjust Crimson Font size

.is-family-secondary,
.is-family-hand
    letter-spacing: -.03em
.title
    letter-spacing: -.055em
.title.is-family-primary
    letter-spacing: -.04em
    font-weight: $weight-semibold

// span.is-family-secondary
//     display: inline-block


u
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDMgNSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjYWE1MGI1IiBzdHJva2Utb3BhY2l0eT0iMzAlIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiIHN0cm9rZS13aWR0aD0iMyIgZD0iTTIsMy4xMDgwNTIzNiBDMTYuNzI3MDE0NCwyLjU1NDY4MzI4IDMxLjQ0NjY0NTUsMi43MTY5ODg5MSA0Ni4xOTA0ODg0LDIuNDg5MTUyOSBDNzcuODE4Mjc2OSwyLjAwMDQwOTk0IDEwMS4yNjczNCwyLjAwMDQwOTk0IDE0MC41NzkzNDUsMi40ODkxNTI5Ii8+PC9zdmc+)
    background-position: center .625em
    background-size: 100% .5em
    background-repeat: no-repeat
    text-decoration: none
    text-transform: none
    font-weight: inherit
    font-style: normal

u.is-secondary
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDMgNSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjZmY4ZjQxIiBzdHJva2Utb3BhY2l0eT0iMzAlIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiIHN0cm9rZS13aWR0aD0iMyIgZD0iTTIsMy4xMDgwNTIzNiBDMTYuNzI3MDE0NCwyLjU1NDY4MzI4IDMxLjQ0NjY0NTUsMi43MTY5ODg5MSA0Ni4xOTA0ODg0LDIuNDg5MTUyOSBDNzcuODE4Mjc2OSwyLjAwMDQwOTk0IDEwMS4yNjczNCwyLjAwMDQwOTk0IDE0MC41NzkzNDUsMi40ODkxNTI5Ii8+PC9zdmc+)
    background-position: center .625em
    background-size: 100% .5em
    background-repeat: no-repeat

em
    border-radius: .5em .125em .625em .125em
    background-image: linear-gradient(90deg, rgba($orange, .225) 10%, rgba($yellow, .225) 90%)
    font-style: normal
