/* Hand-drawn Font family */
.is-family-hand
    font-size: 1.25em
    font-family: 'Caveat', cursive

.is-family-secondary
    letter-spacing: -.25px

/* Titles */
.title.is-0,
.is-size-0
    font-size: 4.9vw

@media (min-width: 1500px)
    .title.is-0,
    .is-size-0
        font-size: 4.5rem

.title
    letter-spacing: -1px
.title.is-5,
.title.is-6
    letter-spacing: -.5px

.title.is-family-secondary
    letter-spacing: -2px
.title.is-5.is-family-secondary,
.title.is-6.is-family-secondary
    letter-spacing: -1px

p
    line-height: 1.5em !important

.is-size-8
    letter-spacing: .25px
    font-size: $size-8

.is-uppercase.is-7
    font-size: .75rem

.is-borderless
    border: none !important

.has-text-weight-bolder
    font-weight: 900 !important

u
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDMgNSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjYWE1MGI1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiIHN0cm9rZS13aWR0aD0iMyIgZD0iTTIsMy4xMDgwNTIzNiBDMTYuNzI3MDE0NCwyLjU1NDY4MzI4IDMxLjQ0NjY0NTUsMi43MTY5ODg5MSA0Ni4xOTA0ODg0LDIuNDg5MTUyOSBDNzcuODE4Mjc2OSwyLjAwMDQwOTk0IDEwMS4yNjczNCwyLjAwMDQwOTk0IDE0MC41NzkzNDUsMi40ODkxNTI5Ii8+PC9zdmc+)
    background-position: bottom
    background-size: 100% .125em
    background-repeat: no-repeat
    text-decoration: none
    text-transform: none
    font-weight: inherit
    font-style: normal

strong
    font-weight: 800

em
    border-radius: 1em .25em 1em .25em
    background-image: linear-gradient(90deg, rgba(196, 133, 203, .1), rgba(196, 133, 203, .5) 40%,rgba(196, 133, 203, .35) 85%, rgba(196, 133, 203, .15))
    font-style: normal

em.is-primary
    background-image: linear-gradient(90deg, rgba(140, 80, 185, .25), rgba(91, 37, 133, .7) 30%,rgba(140, 80, 185, .5) 95%, rgba(140, 80, 185, .2))

