/* —— Bulma BDS Extend —— */

$pink: #cc5bb5 !default

// Coloring
.has-background-cyan
    background-color: $cyan
.has-background-blue
    background-color: $blue
.has-background-purple
    background-color: $purple
.has-background-red
    background-color: $red
.has-background-orange
    background-color: $orange
.has-background-green
    background-color: $green
.has-background-yellow
    background-color: $yellow
.has-background-turquoise
    background-color: $turquoise
.has-background-pink
    background-color: $pink

.has-text-cyan
    color: $cyan
.has-text-blue
    color: $blue
.has-text-purple
    color: $purple
.has-text-red
    color: $red
.has-text-orange
    color: $orange
.has-text-green
    color: $green
.has-text-yellow
    color: $yellow
.has-text-turquoise
    color: $turquoise
.has-text-pink
    color: $pink

svg.has-fill-cyan,
.icon.has-fill-cyan
    fill: $cyan
svg.has-fill-blue,
.icon.has-fill-blue
    fill: $blue
svg.has-fill-purple,
.icon.has-fill-purple
    fill: $purple
svg.has-fill-red,
.icon.has-fill-red
    fill: $red
svg.has-fill-orange,
.icon.has-fill-orange
    fill: $orange
svg.has-fill-green,
.icon.has-fill-green
    fill: $green
svg.has-fill-yellow,
.icon.has-fill-yellow
    fill: $yellow
svg.has-fill-turquoise,
.icon.has-fill-turquoise
    fill: $turquoise
svg.has-fill-pink,
.icon.has-fill-pink
    fill: $pink
svg.has-fill-primary,
.icon.has-fill-primary
    fill: $primary
svg.has-fill-black,
.icon.has-fill-black
    fill: $black
svg.has-fill-black-bis,
.icon.has-fill-black-bis
    fill: $black-bis
svg.has-fill-black-ter,
.icon.has-fill-black-ter
    fill: $black-ter
svg.has-fill-grey-darker,
.icon.has-fill-grey-darker
    fill: $grey-darker
svg.has-fill-grey-dark,
.icon.has-fill-grey-dark
    fill: $grey-dark
svg.has-fill-grey,
.icon.has-fill-grey
    fill: $grey
svg.has-fill-grey-light,
.icon.has-fill-grey-light
    fill: $grey-light
svg.has-fill-grey-lighter,
.icon.has-fill-grey-lighter
    fill: $grey-lighter
svg.has-fill-white-ter,
.icon.has-fill-white-ter
    fill: $white-ter
svg.has-fill-white-bis,
.icon.has-fill-white-bis
    fill: $white-bis
svg.has-fill-white,
.icon.has-fill-white
    fill: $white
 
/* Titles */
.title.is-5,
.title.is-6
    font-weight: 700


/* Rules / Lines */
hr:not(.is-visible)
    visibility: hidden !important;

hr.is-small
    margin: .9em 0;

hr.is-large
    margin: 3em 0;

/* Button */
.button
    font-weight: 500
    box-shadow: 0 1px 2px rgba(0,0,0,.05)
    transition: box-shadow 0.15s linear, transform 0.15s linear
.button:not(:active)
    box-shadow: none
.button:hover:not(:active):not(.is-outlined):not(.is-rounded):not(.is-light)
    box-shadow: 0 4px 8px rgba(0,0,0,.05)
    transform: translateY(-1px)
.button:active
    transition-duration: 0
    box-shadow: 0 0 2px rgba(0,0,0,.05)
.has-addons .button,
.dropdown .button
    transform: translateY(0) !important
.button .icon
    width: 1em
    height: 1em

/* Box */
.box
    transition: all .25s ease-out;

.box.is-small
    padding: 0.6rem 0.8rem

.box.is-large,
.box.is-relaxed
    padding: 2.875em 3em;

.box.is-link
    cursor: pointer
.box.is-link:hover
    box-shadow: 0 0 0 1px $primary

.box.is-bordered
    box-shadow: 0 0 0 1px rgba(0,0,0,.10);

.box.hover-to-box:hover
    background: white;

.box.is-white,
.box.hover-to-white:hover
    transition-duration: .3s;
    background-color: white;

.box.is-well,
.box.hover-to-well:hover
    transition-duration: .3s;
    background-color: rgba(113,95,199,.04);

.box.is-raised,
.box.hover-to-raised:hover
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.10);

.box.is-floating,
.box.hover-to-floating:hover
    transition-duration: .3s;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.10);

.box.is-popping,
.box.hover-to-popping:hover
    transition-duration: .4s;
    background-color: white;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,.10);


/* Menu */
.menu-label
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;

.menu-label:not(:last-child)
    margin-bottom: .5em;

.menu-list a
    font-weight: 500;

.menu-list a.is-active
    font-weight: 600;
    font-size: 1.1em;

/* Icon */
svg.icon
    fill: $grey-darker;

svg.is-grey
    fill: $grey;

svg.is-grey-dark
    fill: $grey-dark;

/* Dropdown */
.dropdown-item.is-active
    font-weight: 500;

.dropdown:not(.is-iconless) .button
    padding-right: 3rem;

.dropdown:not(.is-iconless):after
    content: '⌞';
    position: absolute;
    right: 0.6em;
    top: 0.075em;
    font-size: 1.8rem;
    font-weight: 500;
    color: $grey;
    transform: rotate(-45deg);
    pointer-events: none;

/* Panel */
.panel > div:first-child,
.panel > a:first-child
    border-radius: $box-radius $box-radius 0 0
.panel > div:last-child,
.panel > a:last-child
    border-radius: 0 0 $box-radius $box-radius

@import "css4-vars.scss"