/* —— Bulma BDS Extend —— */

/* Typography */
.title.is-0
    font-size: 3.5rem
.title
    letter-spacing: -.2px

p.title,
p.subtitle
    line-height: 1.5em
p
    letter-spacing: -.01em

.is-uppercase.is-7
    font-size: .75rem

.is-borderless
    border: none !important

/* Lists */
.list
    margin: 1.5em .25em
.list > li
    position: relative
    padding: 0 0 .375em 1.75em
    line-height: 1.375em
ul.list > li::before
    position: absolute
    left: .25em
    color: var(--color-text3)
    content: '•'


/* Rules / Lines */
hr:not(.is-visible):not(.dropdown-divider)
    visibility: hidden !important

hr.is-thin
    margin: 0 0
hr.is-smaller
    margin: .5em 0
hr.is-small
    margin: .875em 0
hr.is-large
    margin: 3em 0

/* Table */

th
    font-weight: 700

/* Loader */
.loader
    display: inline-block
    border-bottom-color: RGBA(67,47,101,.3)
    border-left-color: RGBA(67,47,101,.3)
    animation-duration: 600ms
.loader.is-inverted
    border-bottom-color: rgba(255,255,255,.3)
    border-left-color: rgba(255,255,255,.3)
.loader.is-large
    width: 2em
    height: 2em
    border-width: 3px
.loader.is-huge
    width: 3.5em
    height: 3.5em
    border-width: 5px

.loader.is-undetermined
    animation-name: backSpin
    animation-duration: .95s
@keyframes backSpin
    from
        transform: rotate(359deg)
        to
            transform: rotate(0deg)

.loader.is-colorful
    border-top-color: RGBA(67,47,101,.1)
    border-right-color: RGBA(67,47,101,.1)
    // animation: colorShading 1800ms infinite linear, a 600ms infinite linear
    border-bottom-color: $primary
    border-left-color: $primary

@keyframes colorShading
    0%
        border-bottom-color: $purple-light
        border-left-color: $purple-light
    30%
        border-bottom-color: $turquoise-light
        border-left-color: $turquoise-light
    50%
        border-bottom-color: $yellow
        border-left-color: $yellow
    75%
        border-bottom-color: $red-light
        border-left-color: $red-light
    100%
        border-bottom-color: $purple-light
        border-left-color: $purple-light


/* Button */
.button
    border-radius: $radius
    font-weight: 500
    transition: background-color .1s linear, padding-left .3s cubic-bezier(.645, .045, .355, 1), box-shadow .5s linear
.button.is-small
    height: 2.1875em
.button .icon
    width: 1em
    height: 1em
.button.is-beefy
    padding: calc(1.375em - #{$button-border-width}) 1.75em
.button.is-text
    text-decoration: none
button.button
    box-shadow: 0 0 0 5px rgba($black, 0)
button.button:active
    box-shadow: 0 0 0 0 rgba($black, .15)
    transition-duration: 0

.button.is-loading
    padding-left: calc(#{$button-padding-horizontal} * 2.5)
    color: rgba(255,255,255,.7) !important
button.button.is-loading
    color: var(--color-grey-dark) !important
.button.is-loading:after
    left: calc(#{$button-padding-horizontal} * .75)

// New type
.button.is-secondary
    border-color: transparent
    background-color: rgba($grey-darker,.15)
.button.is-secondary:hover
    background-color: rgba($grey-darker,.19)

.button.is-glowing
    position: relative
.button.is-glowing:before
    position: absolute
    top: 20%
    right: 8%
    bottom: 0
    left: 8%
    content: ''

.button.is-glowing.is-primary:before
    box-shadow: 0 .1875em 1.125em rgba($primary,.7)
    // animation: glowing-primary 2.5s infinite
.button.is-glowing.is-success:before
    box-shadow: 0 .1875em 1.125em rgba($success,.7)
    // animation: glowing-primary 2.5s infinite
.button.is-glowing.is-info:before
    box-shadow: 0 .1875em 1.125em rgba($info,.7)
    // animation: glowing-primary 2.5s infinite
.button.is-glowing.is-danger:before
    box-shadow: 0 .1875em 1.125em rgba($danger,.7)
    // animation: glowing-primary 2.5s infinite
.button.is-glowing.is-dark:before
    box-shadow: 0 .1875em 1.125em rgba($dark,.6)
    // animation: glowing-primary 2.5s infinite

// Glowing state
@keyframes glowing-primary
    0%
        box-shadow: 0 .25em 1.25em rgba($primary,.6)
    50%
        box-shadow: 0 .25em 1.25em rgba($primary,.8)
    100%
        box-shadow: 0 .25em 1.25em rgba($primary,.6)


/* Box */
.box
    transition: all .25s ease-out

.box.is-small
    padding: .6rem .8rem

.box.is-large,
.box.is-relaxed
    padding: 2.875em 3em

.box.is-link
    cursor: pointer
.box.is-link:not(.is-raised):hover
    box-shadow: 0 0 0 1px $purple

.box.is-bordered,
.box.hover-to-bordered:hover
    box-shadow: 0 0 0 1px rgba(48, 45, 61,.10)

.box.is-bordered.hover-to-box:hover,
.box.is-bordered.hover-to-well:hover,
.box.is-bordered.hover-to-white:hover
    box-shadow: none

.box.hover-to-box:hover
    background: transparent

.box.is-white,
.box.hover-to-white:hover
    background-color: white
    transition-duration: .3s

.box.is-well,
.box.hover-to-well:hover
    background-color: rgba(27, 16, 41, 0.03)
    transition-duration: .3s

.box.is-raised,
.box.hover-to-raised:hover
    border: 1px solid rgba(139, 133, 160, .1)
    border-bottom: 4px solid rgba(139, 133, 160, .25)
    background-color: white

.box.is-floating,
.box.hover-to-floating:hover
    background-color: white
    box-shadow: 0 4px 8px 0 rgba(48, 45, 61,.10)
    transition-duration: .3s

.box.is-popping,
.box.hover-to-popping:hover
    background-color: white
    box-shadow: 0 12px 24px 0 rgba(48, 45, 61,.10)
    transition-duration: .4s

.box.is-expandable
    cursor: pointer
    transition-duration: .15s !important
.box.is-expandable.is-expanded
    margin-top: .275em
    margin-right: -.5rem
    margin-left: -.5rem
.box.is-expandable + .box.is-expandable.is-expanded
    margin-top: 1.775em
    transition-duration: .1s !important
.box.is-expandable:not(.is-expanded) > .expanded-content
    display: none


/* Menu */
.menu-label
    padding-left: 1em
    letter-spacing: .5px
    font-weight: 500
.menu-label:not(:last-child)
    margin-bottom: .5em
.menu-list a
    font-weight: 500


/* Icon */
svg.icon
    fill: $grey-darker

svg.is-grey
    fill: $grey

svg.is-grey-dark
    fill: $grey-dark


/* Dropdown */
.dropdown-item.is-active
    font-weight: 500

.dropdown:not(.is-iconless) .button
    padding-right: 2.5rem
.dropdown.is-small:not(.is-iconless) .button
    padding-right: 2.25rem

.dropdown:not(.is-iconless):after
    position: absolute
    top: 0
    right: .75em
    color: $grey
    content: '⌞'
    font-weight: 400
    font-size: 1.625em
    transform: rotate(-45deg)
    pointer-events: none

.dropdown.is-small:after
    top: -2px
    right: .625em
    font-size: 1.5rem
.dropdown.is-medium:after
    top: 2px
    right: .75em
    font-size: 1.625rem

.select:not(.is-multiple):not(.is-loading):after
    border-width: 2px


/* Checkbox & Radio */
.checkbox,
.radio
    user-select: none
.checkbox > input,
.radio > input
    width: 1.5rem
    opacity: 0
    cursor: pointer
.checkbox-mark,
.radio-mark
    position: absolute
    top: 0
    left: 0
    width: 1.25rem
    height: 1.25rem
    border-radius: 4px
    background-color: white
    box-shadow: inset 0 0 0 2px $grey-light
.radio-mark
    border-radius: 50%
.checkbox[disabled] > .checkbox-mark,
.radio[disabled] > .radio-mark
    box-shadow: inset 0 0 0 2px lighten($grey-light,5)
.checkbox:hover:not([disabled]):not(:active) > .checkbox-mark,
.radio:hover:not([disabled]) > .radio-mark
    box-shadow: inset 0 0 0 2px darken($grey-light,8)
.checkbox input:checked ~ .checkbox-mark
    background: linear-gradient(60deg, $purple -10%, $primary 110%)
    box-shadow: none !important
.radio input:checked ~ .radio-mark
    box-shadow: inset 0 0 0 2px $primary !important
.checkbox-mark:after
    position: absolute
    top: 3px
    left: 7px
    display: none
    width: 6px
    height: 11px
    border: solid white
    border-width: 0 2px 2px 0
    content: ''
    transform: rotate(45deg)
.checkbox > input:indeterminate + .checkbox-mark:after
    top: 9px
    left: 6px
    width: 8px
    height: 0
    border-width: 0 0 2px 0
    transform: none
.radio-mark:after
    position: absolute
    top: 5px
    left: 5px
    display: none
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: $primary
    content: ''
.checkbox input:checked ~ .checkbox-mark:after,
.radio input:checked ~ .radio-mark:after
    display: block

.checkbox.is-toggle > input
    width: 3.5em
.checkbox.is-toggle .checkbox-mark
    margin-top: 1px
    width: 2.125rem
    height: 1.125rem
    border-radius: 2rem
.checkbox.is-toggle .checkbox-mark:after
    top: .25rem
    left: .25rem
    display: block
    width: .625rem
    height: .625rem
    border: none
    border-radius: 50%
    background-color: $primary
    transition: left .15s ease-in
.checkbox.is-toggle input:checked ~ .checkbox-mark:after
    left: 1.25rem
    background-color: white
.checkbox.is-toggle.is-large
    font-size: 19px
.checkbox.is-toggle.is-large .checkbox-mark
    width: 2.75rem
    height: 23px
.checkbox.is-toggle.is-large > input
    width: 3.125rem
.checkbox.is-toggle.is-large .checkbox-mark:after
    top: 4px
    width: 15px
    height: 15px
.checkbox.is-toggle.is-large input:checked ~ .checkbox-mark:after
    left: 25px


/* Panel */
.panel-block:first-child
    border-radius: $box-radius $box-radius 0 0
.panel-block:last-child
    border-radius: 0 0 $box-radius $box-radius


/* Tabs */
.tabs:not(.is-boxed) li:first-child a
    padding-left: .75em
.tabs:not(.is-boxed) li.is-active a
    position: relative
.tabs:not(.is-boxed) li.is-active a:after
    position: absolute
    right: 35%
    bottom: -1px
    left: 35%
    height: 3px
    background-color: $grey-darker
    content: ''
.tabs.is-boxed > ul
    margin-left: .25em
    border-bottom: none
.tabs.is-boxed a
    padding-right: 1.5em
    padding-left: 1.5em
    border: none
.tabs.is-boxed li:not(.is-active):not(:hover) a
    border-radius: 0
.tabs.is-boxed li:not(.is-active) + li:not(.is-active)
    margin-left: 1px
.tabs.is-boxed > ul > li:not(.is-active)
    position: relative
    bottom: -.125em
.tabs.is-boxed > ul > li.is-active > a
    padding-top: .875em
    padding-bottom: .875em


/* Input field */
.input,
.select > select,
.textarea
    min-height: 2.75em
    transition: border-color .15s linear, box-shadow .15s linear
.textarea
    padding-left: calc(.875em - 1px)
.field:not(:last-child)
    margin-bottom: 1rem

.select:not(.is-multiple):not(.is-loading):after
    margin-top: -.2em

.label
    text-transform: uppercase
    letter-spacing: .5px
    font-size: .75rem
.label.is-small
    font-size: .625rem
.label.is-medium
    font-size: .875rem
.label.is-large
    font-size: 1rem


/* Modal */
.modal-content,
.modal-background
    will-change: opacity
    will-change: transform

.modal-content > .box
    border-radius: 1rem

.modal.is-active > .modal-content
    animation: shrinkIn .15s ease-out 0 1

.modal.is-active > .modal-background
    animation: fadeIn .2s ease-out 0 1

.modal.is-closing > .modal-content
    animation: shrinkOut .25s ease-out 0 1

.modal.is-closing > .modal-background
    animation: fadeIn .25s ease-out 0 1

.modal.is-pinned > .modal-content,
.modal.is-pinned > .modal-card
    position: absolute
    top: 8%

.modal-card-foot
    justify-content: flex-end

@keyframes shrinkIn
    0%
        opacity: .1
        transform: scale(1.1)
    100%
        opacity: 1
        transform: scale(1)

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes shrinkOut
    0%
        transform: scale(1)
    100%
        transform: scale(1.1)

@keyframes fadeOut
    0%
        opacity: 1
    100%
        opacity: 0


/* Card */
.card
    border-radius: 2px
.card-footer
    border-radius: 0 0 2px 2px

.message.is-noti
    display: block
    margin: 1.5rem auto
    padding: 3rem 2rem
    max-width: 30rem
    width: 15rem
    border-radius: 2rem
    background-color: rgba($white,.94)
    box-shadow: 0 0 14px 0 rgba($black,.02), 0 0 0 1px rgba($black-bis,.02)
    text-align: center
    opacity: 0
    transition: opacity .25s linear

    user-select: none

.message.is-noti.is-danger
    background-color: rgba(lighten($red-lighter,9),.9)

.modal.is-active .message.is-noti
    opacity: 1

