/* —— Bulma Color Extend —— */

$cyan-dark: mix(black, $cyan, 25) !default
$cyan-light: mix(white, $cyan, 30) !default
$cyan-lighter: mix(white, $cyan, 60) !default

$blue-dark: mix(black, $blue, 25) !default
$blue-light: mix(white, $blue, 30) !default
$blue-lighter: mix(white, $blue, 60) !default

$purple-dark: mix(black, $purple, 25) !default
$purple-light: mix(white, $purple, 30) !default
$purple-lighter: mix(white, $purple, 60) !default

$pink: #cc5bb5 !default
$pink-dark: mix(black, $pink, 23) !default
$pink-light: mix(white, $pink, 30) !default
$pink-lighter: mix(white, $pink, 60) !default

$turquoise-dark: mix(black, $turquoise, 25) !default
$turquoise-light: mix(white, $turquoise, 30) !default
$turquoise-lighter: mix(white, $turquoise, 60) !default

$orange-dark: mix(black, $orange, 15) !default
$orange-light: mix(white, $orange, 30) !default
$orange-lighter: mix(white, $orange, 60) !default

$yellow-bis: mix($orange-dark, $yellow, 20)
$yellow-dark: mix(black, $yellow-bis, 10) !default
$yellow-light: mix(white, $yellow, 30) !default
$yellow-lighter: mix(white, $yellow, 60) !default

$red-dark: mix(black, $red, 20) !default
$red-light: mix(white, $red, 30) !default
$red-lighter: mix(white, $red, 60) !default

$green-dark: mix(black, $green, 25) !default
$green-light: mix(white, $green, 30) !default
$green-lighter: mix(white, $green, 60) !default

// Coloring
.has-background-cyan
    background-color: $cyan
.has-background-cyan-dark
    background-color: $cyan-dark
.has-background-cyan-light
    background-color: $cyan-light
.has-background-cyan-lighter
    background-color: $cyan-lighter

.has-background-blue
    background-color: $blue
.has-background-blue-dark
    background-color: $blue-dark
.has-background-blue-light
    background-color: $blue-light
.has-background-blue-lighter
    background-color: $blue-lighter

.has-background-purple
    background-color: $purple
.has-background-purple-dark
    background-color: $purple-dark
.has-background-purple-light
    background-color: $purple-light
.has-background-purple-lighter
    background-color: $purple-lighter

.has-background-pink
    background-color: $pink
.has-background-pink-dark
    background-color: $pink-dark
.has-background-pink-light
    background-color: $pink-light
.has-background-pink-lighter
    background-color: $pink-lighter

.has-background-red
    background-color: $red
.has-background-red-dark
    background-color: $red-dark
.has-background-red-light
    background-color: $red-light
.has-background-red-lighter
    background-color: $red-lighter

.has-background-orange
    background-color: $orange
.has-background-orange-dark
    background-color: $orange-dark
.has-background-orange-light
    background-color: $orange-light
.has-background-orange-lighter
    background-color: $orange-lighter

.has-background-green
    background-color: $green
.has-background-green-dark
    background-color: $green-dark
.has-background-green-light
    background-color: $green-light
.has-background-green-lighter
    background-color: $green-lighter

.has-background-yellow
    background-color: $yellow
.has-background-yellow-dark
    background-color: $yellow-dark
.has-background-yellow-light
    background-color: $yellow-light
.has-background-yellow-lighter
    background-color: $yellow-lighter

.has-background-turquoise
    background-color: $turquoise
.has-background-turquoise-dark
    background-color: $turquoise-dark
.has-background-turquoise-light
    background-color: $turquoise-light
.has-background-turquoise-lighter
    background-color: $turquoise-lighter


.has-text-cyan
    color: $cyan
.has-text-blue
    color: $blue
.has-text-purple
    color: $purple
.has-text-red
    color: $red
.has-text-orange
    color: $orange
.has-text-green
    color: $green
.has-text-yellow
    color: $yellow
.has-text-turquoise
    color: $turquoise
.has-text-pink
    color: $pink

svg.has-fill-cyan,
.icon.has-fill-cyan
    fill: $cyan
svg.has-fill-blue,
.icon.has-fill-blue
    fill: $blue
svg.has-fill-purple,
.icon.has-fill-purple
    fill: $purple
svg.has-fill-red,
.icon.has-fill-red
    fill: $red
svg.has-fill-orange,
.icon.has-fill-orange
    fill: $orange
svg.has-fill-green,
.icon.has-fill-green
    fill: $green
svg.has-fill-yellow,
.icon.has-fill-yellow
    fill: $yellow
svg.has-fill-turquoise,
.icon.has-fill-turquoise
    fill: $turquoise
svg.has-fill-pink,
.icon.has-fill-pink
    fill: $pink
svg.has-fill-primary,
.icon.has-fill-primary
    fill: $primary
svg.has-fill-black,
.icon.has-fill-black
    fill: $black
svg.has-fill-black-bis,
.icon.has-fill-black-bis
    fill: $black-bis
svg.has-fill-black-ter,
.icon.has-fill-black-ter
    fill: $black-ter
svg.has-fill-grey-darker,
.icon.has-fill-grey-darker
    fill: $grey-darker
svg.has-fill-grey-dark,
.icon.has-fill-grey-dark
    fill: $grey-dark
svg.has-fill-grey,
.icon.has-fill-grey
    fill: $grey
svg.has-fill-grey-light,
.icon.has-fill-grey-light
    fill: $grey-light
svg.has-fill-grey-lighter,
.icon.has-fill-grey-lighter
    fill: $grey-lighter
svg.has-fill-white-ter,
.icon.has-fill-white-ter
    fill: $white-ter
svg.has-fill-white-bis,
.icon.has-fill-white-bis
    fill: $white-bis
svg.has-fill-white,
.icon.has-fill-white
    fill: $white

@import 'css4-vars.scss'
