/* —— Bulma BDS Extend —— */

/* Titles */
.title.is-5,
.title.is-6
    font-weight: 700;


/* Rules / Lines */
hr:not(.is-visible)
    visibility: hidden !important;

hr.is-small
    margin: .9em 0;

hr.is-large
    margin: 2.6em 0;

/* Button */
.button
    font-weight: 500
    box-shadow: 0 1px 2px rgba(0,0,0,.05)
    transition: box-shadow 0.15s linear, transform 0.15s linear
.button:not(:active)
    box-shadow: none
.button:hover:not(:active):not(.is-outlined):not(.is-rounded):not(.is-light)
    box-shadow: 0 4px 8px rgba(0,0,0,.05)
    transform: translateY(-1px)
.button:active
    transition-duration: 0
    box-shadow: 0 0 2px rgba(0,0,0,.05)
.has-addons .button,
.dropdown .button
    transform: translateY(0) !important
.button .icon
    width: 1em
    height: 1em

/* Box */
.box
    transition: all .25s ease-out;

.box.is-small
    padding: 0.6rem 0.8rem

.box.is-large,
.box.is-relaxed
    padding: 2.875em 3em;

.box.is-link
    cursor: pointer
.box.is-link:hover
    box-shadow: 0 0 0 1px $primary

.box.is-bordered
    box-shadow: 0 0 0 1px rgba(0,0,0,.10);

.box.hover-to-box:hover
    background: white;

.box.is-white,
.box.hover-to-white:hover
    transition-duration: .3s;
    background-color: white;

.box.is-well,
.box.hover-to-well:hover
    transition-duration: .3s;
    background-color: rgba(113,95,199,.04);

.box.is-raised,
.box.hover-to-raised:hover
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.10);

.box.is-floating,
.box.hover-to-floating:hover
    transition-duration: .3s;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.10);

.box.is-popping,
.box.hover-to-popping:hover
    transition-duration: .4s;
    background-color: white;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,.10);


/* Menu */
.menu-label
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;

.menu-label:not(:last-child)
    margin-bottom: .5em;

.menu-list a.is-active
    font-weight: 700;

/* Icon */
svg.icon
    fill: $grey-darker;

svg.is-grey
    fill: $grey;

svg.is-grey-dark
    fill: $grey-dark;

/* Panel */
.panel > div:first-child,
.panel > a:first-child
    border-radius: $box-radius $box-radius 0 0
.panel > div:last-child,
.panel > a:last-child
    border-radius: 0 0 $box-radius $box-radius